[2016-07-30 21:18] brasilikum opened #1 "Feature: Shortcut to add the type definition inferred by elm-format"

[2016-07-30 21:21] brasilikum opened #2 "Feature: Autocomplete function from type definition"
[code]

could suggest

[code]

What do you think?

[2016-07-30 21:30] brasilikum commented on #1
Ok elm-format already does this.

[2016-07-30 21:30] #1 closed

[2016-07-30 23:45] halohalospecial commented on #2
Hi @brasilikum, how will this work?  Is it a new command or part of autocomplete?  Let's say the cursor is at the end of `add : Int -> Model -> Model`, it will suggest `add int model =`?  I'm planning to do auto complete next and this seems useful!

[2016-08-08 18:34] OvermindDL1 opened #3 "Auto-complete selection bug"
Greetings, first see this image [https://overminddl1.com/screenshots/work/elmjutsu-report0.gif](https://overminddl1.com/screenshots/work/elmjutsu-report0.gif):
![bug demo](https://overminddl1.com/screenshots/work/elmjutsu-report0.gif)
1. I type out Navigation.pro<down><enter>, this is perfect (and fast!), although page up/down does not work (instead the page jumps up/down)
2. The first 'argument'

[2016-08-08 23:19] OvermindDL1 opened #4 "Feature Request: Function is exposed indicator"
Some type of indicator on the function that is exposed at the top of the module would be useful.  This is in reference to https://groups.google.com/forum/#!topic/elm-discuss/N_Pd1XsgtwU where they are discussing visibility of the exposed list.  Keeping it at the top is sensible to see them all in one place, but it is also nice to see it at the function declaration too, so some indicator that it is

[2016-08-09 14:52] OvermindDL1 opened #5 "Usability: Default auto-complete length"
Default auto-complete length needs to be 2 or higher, not 1.  Functions involve typing `=`, then generally hitting <enter>, which unfortunately replaced the `=` with `==` due to autocomplete.  Perhaps that alone could be fixed to not happen, but for a short-term fix setting the default to 2 will prevent people from going crazy until they figure out to fix it.  :-)

[2016-08-09 15:16] halohalospecial commented on #5
Good idea :+1:  I just got used to pressing `escape` to cancel autocomplete.  Some packages are even using `3` as the default. `2` seems to be the sweet spot for Elm.  I'll include that in the next release.  Thanks!

[2016-08-09 16:26] halohalospecial commented on #5
Alternatively, the users can set `Keymap For Confirming A Suggestion` in the package settings for `autocomplete-plus` to either `tab` or `tab always, enter when suggestion explicitly selected`, instead of the default `tab and enter`.

[2016-08-09 16:31] OvermindDL1 commented on #5
I tried `tab always, enter when suggestion explicitly selected`, but enter still turns `=` into `== a a` somehow, even after restarting atom?  o.O

[2016-08-09 23:53] halohalospecial commented on #5
Hmm, that's weird.  I had it working with autocomplete min length = 1.

[2016-08-17 19:43] OvermindDL1 opened #6 "Elm syntax coloring and formatting for blocks."
Elm syntax coloring and formatting for blocks.

As per https://groups.google.com/forum/#!topic/elm-discuss/HIdcbC0IOHk the blocks in Elm, like glsl blocks, are not formatted properly.  It would be nice if they were not only syntax colored properly based on the embedded type (for known blocks like GLSL), but potentially even change the atom language within them (like how Atom's markdown auto-colors

[2016-08-17 22:56] halohalospecial commented on #6
Hi @OvermindDL1, the [language-elm](https://github.com/edubkendo/atom-elm) package would be a better place for this :-)

[2016-08-19 07:29] Fenntasy opened #7 "Cannot find module 'underscore-plus'"
Each time there is an update or when I launch Atom, I get this error `Cannot find module 'underscore-plus'`. Here is the stack trace given by Atom. Thanks in advance :)

**Atom Version**: 1.9.9
**System**: Mac OS X 10.11.6
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package, v1.1.0

### Stack Trace

Failed to activate the elmjutsu package

[code]

### Commands

[c

[2016-08-19 07:52] halohalospecial commented on #7
Could you still use the `elmjutsu` package after getting the error?  I also encountered issues like this before with other packages, but it's a bit tricky to solve.

Maybe you can try the following:

1. Uninstall the `elm-fu` package (that's the old name of the `elmjutsu` package).

1. Uninstall `elmjutsu`.

1. Exit `Atom`.

1. Go to the `~/.atom/packages` directory and delete the `elm-fu` and `el

[2016-08-19 07:59] Fenntasy commented on #7
Sorry, I should have been more precise. Yes I still could use elmjutsu anyway.

I didn't know they were the same packages but thanks, your solution did the trick :)

Thanks for your work by the way ❤️

[2016-08-19 07:59] #7 closed

[2016-08-19 08:08] halohalospecial commented on #7
Yeah, sorry I could not think of a suitable name for the package before.  I just wanted it to be as general (or vague) as possible so that I can just add in any Elm-related feature :smiley_cat:

-- Phil Karlton

[2016-08-20 15:21] rtfeldman commented on #5
Totally agree. I actually came here to open this same issue, for the same reasons and including the same proposed solution.

I think "it gives a pleasant experience right out the box" is important, and right now the `=` thing inevitably frustrates a new user and sends then scurrying off to the docs to figure out how to fix it.

+1 to people not having to fix it by default 😉

[2016-08-20 15:21] rtfeldman commented on #5
PS: this thing is 😺

[2016-08-22 00:44] #6 closed

[2016-08-22 04:14] halohalospecial commented on #5
Hi! I did some experiments and this is what I came up with:
- "=" and other symbols such as "of' and "->" are added as suggestions
- if the chosen suggestion is equal to what's already typed by the user (let's say the user typed "=" and it is also the primary suggestion), a newline will be inserted upon pressing <kbd>enter</kbd>.  Doing so will save one keystroke since the user does not need to pr

[2016-08-22 05:10] rtfeldman commented on #5
Sounds good!

What I meant by the P.S. is that I'm a fan of this plugin. 😄

[2016-08-22 10:29] halohalospecial commented on #5
Thanks! :blush:

I just published a new release with this change and other bug fixes.  I personally find it better than the default autocomplete behavior so far in terms of keeping the flow :smiley: Let me know your experience.  Thanks!

[2016-08-22 16:44] OvermindDL1 commented on #5
Hmm, I just updated but `=` still autocompletes to `== a a`, maybe I need to restart Atom, doing so, testing again, and it autocompletes to `=` now, however it does not add a newline and as such the pop-up pops up again.  Here I am typing `tester =` and pressing \<enter\>, a lot.  ^.^:  https://overminddl1.com/screenshots/work/elmjutsu-autocomplete-bug.gif
![Bug Demo](https://overminddl1.com/scree

[2016-08-23 05:39] halohalospecial opened #8 "Failed to load package docs"
Because of a recent change in package.elm-lang.org (https://github.com/elm-lang/package.elm-lang.org/commit/2995ff99e9664a1b6ea4dc7124e07ab6e99b43d4), the current version will not be able to get the latest documentation of 3rd party Elm packages.  [Autocomplete](https://github.com/halohalospecial/atom-elmjutsu#elmjutsu-autocomplete) and [Sidekick](https://github.com/halohalospecial/atom-elmjutsu#e

[2016-08-23 05:44] halohalospecial commented on #5
That issue only happens if `Enable Autocomplete Snippets` is turned on.  The latest release should fix it.  Thanks @OvermindDL1!

[2016-08-23 10:08] halohalospecial commented on #8
Used `elm-package.json` instead to approximate dependency versions.

Added in https://github.com/halohalospecial/atom-elmjutsu/commit/0595fbbcee6189f4d43f3b067f3f7f914ea85cbd

[2016-08-23 10:08] #8 closed

[2016-08-23 15:19] OvermindDL1 commented on #5
Probably fixes it on ubuntu, but on Windows 10 at work it still has the same action, interesting, need to debug in to it again...

And debugged a bit, the 'event' still has originalEvent as `undefined`?

So, two questions.  :-)

1. Any reason to force it to only test if using 'enter' there?  What if someone rebinds the autocomplete key to something else, like caps lock?
2. Any chance on testing if

[2016-08-23 15:22] OvermindDL1 commented on #5
For note, added `if (event.originalEvent === undefined) usedEnterKeyToAutocomplete = true;` on line 11 and it is working well now (the `\n` does not mess anything up in CRLF mode either it seems just to note :-) ).

[2016-08-23 16:27] halohalospecial commented on #5
When I looked at the `autocomplete-plus` code before, they hardcoded the functionality to <kbd>tab</kbd> and <kbd>enter</kbd>.

[2016-08-23 16:30] halohalospecial commented on #5
I'm still wondering why `originalEvent` is `undefined` on your computer.  Anyone else has a Windows 10? :smiley:

[2016-08-23 16:34] OvermindDL1 commented on #5
That is a fantastic question, not a clue.  ^.^

[2016-08-23 16:36] OvermindDL1 opened #9 "Feature Request: Sidekick displays doc comments"
Documentation comments `{-| doc comment place before function -}` in the current project would be awesome to see in the sidekick.  I have a few functions in one of my modules that I like to see the doc of to see how to format certain parts of the input but the sidekick only displays, for example `SomeApp.SimpleHelpers.flagsContain : List String -> String -> Bool` instead of the documentation comme

[2016-08-23 16:41] halohalospecial commented on #9
It's in the to do list, but low priority.  You can submit a PR haha.

[2016-08-23 16:43] OvermindDL1 commented on #9
Lol, should I get time for it I would.  ^.^

[2016-08-23 17:04] OvermindDL1 commented on #5
Had a few moments, got an idea, debugged up the stack from that callback, found the missing originalEvent, apparently the callback is called twice and the second time it is undefined, however the first time is not entering into the if conditional either because it is a different 'command' ("atom-elixir:autocomplete-enter", in elm-mode?  the frick?).  The second time through (when originalEvent is

[2016-08-23 17:07] OvermindDL1 commented on #5
OhGoshWhy:  https://github.com/msaraiva/atom-elixir/blob/master/lib/elixir-autocomplete-provider.coffee#L16-L34

[2016-08-23 22:26] halohalospecial commented on #5
Ooh, they should probably scope that to just `source elixir`.  Does it work when you disable `atom-elixir`?

[2016-08-23 22:28] halohalospecial commented on #5
There's a similar issue here https://github.com/msaraiva/atom-elixir/issues/44

[2016-08-23 22:44] OvermindDL1 commented on #5
Yep, it does.

Awesome...  >.>

P.S.  Gotta love how github does not quote properly, missing code tags and url...

[2016-08-24 00:57] halohalospecial commented on #5
This will probably work for the `atom-elixir` issue: `atom-text-editor:not([mini])[data-grammar^="source elixir"]`

[2016-08-24 12:44] halohalospecial opened #10 "Make Sidekick panel resizable"
User should be able to drag the edge of the panel to resize it, similar to that of the `linter`'s error panel.

[2016-08-24 14:31] OvermindDL1 commented on #5
Ah cool, adding that to my local copy at least.  Thanks.  :-)

[2016-08-24 14:49] OvermindDL1 commented on #10
Yeah just hit that, when the cursor happens to hit near `elm-mdl`'s `Material.Tooltip` call the sidekick becomes my *entire* screen, of which I accidentally clicked inside of, thus focusing the sidekick, thus I could not get it to go away without killing it via command.  ^.^

[2016-08-28 00:05] Ryan1729 opened #11 "Uncaught TypeError on startup"
Since 2.50 I see the following error when starting up atom:

[code]

I would normally get the error repeated 2 or 3 times, but if I go to the indicated line and move the guard clause above the `setTimeout` call that tries to call `this.getWorkDirectory`, then I only get the error once.

[2016-08-28 01:42] halohalospecial commented on #11
Hi @Ryan1729, thanks for the report!  Do you have `linter-elm-make` installed?

[2016-08-28 01:54] halohalospecial commented on #11
My bad, I forgot to check if `linter-elm-make` is active in that part.  Should be fixed in the new release.

[2016-08-28 08:01] Ryan1729 commented on #11
That release stopped the errors. Thanks!

For completeness' sake I'll mention that I did have `linter-elm-make` installed before, but I had uninstalled it before I started seeing the error.

[2016-08-28 08:01] #11 closed

[2016-08-30 05:02] #5 closed

[2016-09-02 10:15] halohalospecial commented on #9
I'm already working on this :-)

[2016-09-03 12:40] halohalospecial commented on #9
Added in the latest version (2.5.4.).

[2016-09-03 12:40] #9 closed

[2016-09-04 12:40] otijhuis opened #12 "Elmjutsu won't load when seti-ui theme is used"
It looks like the less variable @text-color-added isn't working with the seti-ui theme. This isn't a elmjutsu problem, it works fine with other themes. Wanted to inform you in case you get reports of the latest version not working since the seti-ui theme is pretty popular.

[2016-09-05 01:23] halohalospecial commented on #12
@otijhuis Thank you very much for this!  Turns out this is a critical issue since not all themes support `@text-color-added`.  Fixed in v2.5.5.

[2016-09-05 01:23] #12 closed

[2016-09-09 19:52] note89 opened #13 "Need for a test folder"
I need to create a test folder to use elmjutsu
[code]

Here is the whole stacktrace

[code]
At ENOENT: no such file or directory, scandir '/home/nils/Programmering/ahead/ahead_web/web/static/elm/test'

Error: ENOENT: no such file or directory, scandir '/home/nils/Programmering/ahead/ahead_web/web/static/elm/test'
    at Error (native)
    at Object.fs.readdirSync (fs.js:856:18)
    at Object.fs.re

[2016-09-10 06:19] #13 closed

[2016-09-13 19:44] rundis opened #14 "Find usages and rename limitations"
This is probably multiple issues, but I'll let you be the judge of that. I was looking at your find usages and refactor/rename feature to gain some inspirations for my Light Table plugin and came across a few things that I figured I'd report back to you in case you haven't already thought about them
1. Find usages doesn't seem to handle the case when you from another module explicitly expose an it

[2016-09-13 22:59] halohalospecial commented on #14
Hi @rundis!  Thank you for the very kind words :blush: I'm also super impressed by your LightTable plugin that's becoming a full-featured IDE :smile: As what somebody said in the forums, it's the gold standard of Elm editor support. (I recently got inspired by your import management.)

You perfectly summarized the limitations of `Find Usages` and `Rename Symbols` :grinning:  Perhaps item 1 is a bu

[2016-09-16 09:17] abhinavzspace opened #15 "Go to definition: not working on Mac OS"
I have looked at all the editors available with almost all the popular plugins available. I think you got the best.

Only thing is, in my setup "Go to definition" functionality is not working.

I have even deleted `.atom` directory which contains everything atom and downloaded fresh atom executable from their website. Then I installed language `language-elm`, `elmjutsu` and `hyperclick`. This is o

[2016-09-16 10:39] halohalospecial commented on #15
Right now, `Go To Definition` to 3rd-party packages is not yet implemented :-)

[2016-09-16 11:09] abhinavzspace commented on #15
Oh. I hope you are on it. I am using it anyways :-).

[2016-09-16 13:09] halohalospecial commented on #15
Hi @abhinavzspace, I'm still thinking about this :-)  Do you always need to go to the definition of 3rd-party package symbols?  It's not that hard to implement, but it will require the package to parse more files.  If you really need this, I may add it as an toggleable option instead.  Cheers!

[2016-09-16 14:21] abhinavzspace commented on #15
It would be a great feature for someone like me at least, being used to going to source in webstorm/intellij. But If majority of the users have not encountered the need for this feature, I guess its not important and can wait. It's all up to you. :-)

[2016-09-16 14:51] OvermindDL1 commented on #15
I would like going to third-party packages as well as their usage is not always clear from their type and comments.  >.>

/me often has github up on a lot of third-party projects.

[2016-09-19 08:46] halohalospecial commented on #15
Already working on this :-)

[2016-09-19 08:55] halohalospecial opened #16 "Hints in inline tooltip"
Some might want to have the type hints / docs (Sidekick) in an inline tooltip (like in linter-elm-make) rather than in a side panel.

PR welcome :-)

P.S. Wanted to call it "Flying Kick", but nah.

[2016-09-19 17:19] halohalospecial commented on #15
Added in v2.6.0

[2016-09-19 17:19] #15 closed

[2016-09-25 13:35] Rolograaf opened #17 "Goto definition corepacakage wrong path"
Hi, sorry I am on Win10...

When I tried your plugin, I Ctrl-clicked on `onClick` in my source.
It could not open file
`...\elm-stuff\packages\elm-lang\html\1.1.0\src\Html.Events.elm` because it is in
`...\elm-stuff\packages\elm-lang\html\1.1.0\src\Html\Events.elm`

probably Windows related or small bug?

[2016-09-25 13:42] halohalospecial commented on #17
It's probably a bug.  I'll fix it tomorrow.  Thanks for reporting!

[2016-09-26 04:44] halohalospecial commented on #17
Hi @Rolograaf I couldn't reproduce the issue :-(  Can you give more information on your project structure and where you're invoking `Go To Definition`?  Thanks!

[2016-09-26 18:08] Rolograaf commented on #17
You are correct -- at first I could not reproduce neither.
Only change to Atom I saw was the atom-beautify plugin auto-update. So I checked that and looked for any other updates.

Then I went back to my elm file and Ctrl-clicked `onClick` again, and there was the error again...

![image](https://cloud.githubusercontent.com/assets/6130902/18846043/7c1b878c-8424-11e6-91b8-6824b7150efc.png)

Weird?

[2016-09-27 00:58] halohalospecial commented on #17
Same result on `elmlive-aws-cognito` :-)  I ctrl-clicked on `onClick` in `import Html.Events exposing (onClick, onInput)` in `Main.elm`.

There's probably an edge case somewhere based on your workflow.  If you want, you can put a temporary `console.log('symbol.sourcePath', symbol.sourcePath);` at this part: https://github.com/halohalospecial/atom-elmjutsu/blob/f465a58bf92ca84919f0c653961b88bf9efc8

[2016-09-27 07:42] raffomania opened #18 "Error notification 'Could not find elm-package.json'"
This notification pops up every time I start atom in a non-elm project. Is there a way to make it less obtrusive?

[2016-09-27 08:31] halohalospecial commented on #18
Hi @raffomania, that notification should only appear if you have an open `.elm` file :-)

[2016-09-27 10:22] raffomania commented on #18
Interesting. It happens to me even in an empty folder. Any hints to debug this?

[2016-09-27 10:25] halohalospecial commented on #18
Hmm, that's weird.  Can you provide a screen capture so that I can see your workflow?

[2016-09-28 17:18] Rolograaf commented on #17
Never mind, elm is so comfortably safe, this gets me back to living on the edge (-case)
I thrust that Html.events do what they promise, no need to go onClicking any deeper

[2016-09-28 17:18] #17 closed

[2016-09-29 11:00] raffomania commented on #18
[Here you go](https://gfycat.com/DimpledPiercingJavalina). It's a pretty standard setup. Atom and all packages are up to date.

[2016-09-29 11:58] halohalospecial commented on #18
Thank you for the screen cap.  That sure is weird!  Maybe another installed package has a bad interaction with elmjutsu (happened more than once before).

To be sure, you can do the following:

1. Quit Atom.
2. Rename `~/.atom` (e.g. `mv ~/.atom ~/.atom-backup`).
3. Open Atom.  Atom will create a new `~/.atom` directory.
4. Install `language-elm` and `elmjutsu`.
5. Quit Atom.
6. Open again Atom to

[2016-10-06 10:39] chalmagean opened #19 "Go to definition freezing atom"
I've just tried "Go to definition" on a custom function and Atom just sits there unusable with my CPU at 100%. After asking me 2 times to Wait or Close, I had to hit close in order to continue my work.

I am using Atom 1.10.2 on OSX El Capitan

[2016-10-06 10:41] chalmagean commented on #19
Oh scratch that, I had to "Go to declaration" options. The one causing the issue came from the "goto" package.

[2016-10-06 10:41] #19 closed

[2016-10-06 10:54] chalmagean opened #20 "Rename symbol issue"
I've got this line

[code]

When I try to rename `daysDiff` across my project, I end up with this:

[code]

Notice the removal of `\r`

[2016-10-06 11:52] #20 closed

[2016-10-06 12:12] chalmagean opened #21 "Rename undo"
It would be nice to be able to undo the last rename. This tends to be annoying if done across files since you have to either rename your rename or go to each of the affected files and hit undo.

Feature suggestions:
1. Do it all in one swoop by hitting Cmd-z/Ctrl-z
2. Leave the rename panel open and provide an Undo button.

[2016-10-06 12:17] halohalospecial commented on #19
This also happened to me before.  IIRC, only `Goto: File Symbol` worked properly.

[2016-10-11 17:32] noklesta opened #22 "Arguments to CompositeDisposable.add must have a .dispose() method"
I just upgraded Atom to the latest version (1.11.0 on OS X El Capitan) and now elmjutsu cannot be activated. I get the following error message:

`Arguments to CompositeDisposable.add must have a .dispose() method`

This seems to be caused by [this pull request](https://github.com/atom/event-kit/pull/28/commits) that was merged into atom/event-kit a few days ago, which causes code in `atom-elmjutsu

[2016-10-11 19:46] clojj commented on #22
+1 caused by Atom 1.11.0

[2016-10-11 22:54] thSoft opened #23 "Failed to activate the elmjutsu package"
**Atom Version**: 1.11.0
**Electron Version**: 0.37.8
**System**: Mac OS X 10.11.6
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package, v2.8.2

### Stack Trace

Failed to activate the elmjutsu package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-10-11 22:54] thSoft commented on #23
Duplicate of #22

[2016-10-11 22:54] #23 closed

[2016-10-12 01:07] halohalospecial commented on #22
Hi all, thanks for the report!  I couldn't reproduce this on my computer (Lubuntu 16.04.1) :crying_cat_face: :   The new version (2.8.3) has a fix for a different issue that might also be related to this one.  Can anyone kindly confirm that this issue is also fixed?  Thanks!

[2016-10-12 05:01] kristian-puccio commented on #22
I'm still getting this.
[code]

[2016-10-12 07:15] gasperz commented on #22
I works ok with atom-elmjutsu 2.8.3 and Atom 1.11.1

[2016-10-12 12:57] noklesta commented on #22
Yes, upgrading to 2.8.3 fixed the problem. Thanks a lot!

[2016-10-12 12:57] #22 closed

[2016-10-12 13:00] noklesta commented on #22
@kristian-puccio do you still have problems? In that case I suppose I should reopen the issue.

[2016-10-12 13:02] halohalospecial commented on #22
@kristian-puccio, can you check your elmjutsu and Atom versions?  If there are still problems, maybe elmjutsu was not upgraded properly.  You can try reinstalling it.  Thanks!

[2016-10-12 22:20] kristian-puccio commented on #22
It seems to be working now with atom 1.11.1

Thanks!

On 13 October 2016 at 00:02, halohalospecial <notifications@github.com>
wrote:

[2016-10-13 05:19] Positive07 commented on #22
I had the same error, opening Atom triggers it

**Atom Version**: 1.11.1
**Electron Version**: 0.37.8
**System**: Windows 10
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package, v2.8.2

### Stack Trace

Failed to activate the elmjutsu package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-10-13 05:22] kristian-puccio commented on #22
I wonder if this could be caused by opening via spotlight or via the
terminal?

On 13 October 2016 at 16:19, Pablo Ariel Mayobre <notifications@github.com>
wrote:

[2016-10-13 05:28] Positive07 commented on #22
I'm sorry I just updated elmjutsu to 2.8.3 (the update didn't appear available in the status bar so I thought I was running on latest) and it seems to be fixed now, sorry for the trouble

[2016-10-13 06:47] halohalospecial commented on #22
@Positive07 no worries! Good to know it's already working :+1:

[2016-10-21 04:35] jschomay opened #24 "Error when trying to activate related to broken symlinks?"
I've been using this plugin with no problems for a while.  Suddenly it stopped working.  I can't think of anything that I did that would have caused the problem, and I've tried completely uninstalling the plugin and atom and reinstalling again multiple times with different versions, but I get the same error.

The problem seems to be that for some reason trying to initialize the plugin seems to sca

[2016-10-21 04:54] halohalospecial commented on #24
Hi :-)  Can you give me your elmjutsu settings?  It's usually in `~/.atom/config.cson`.  Thanks!

[2016-10-21 05:05] halohalospecial commented on #24
Also, can you check if you have an open `.elm` file in Atom that has no `elm-package.json` in its directory or parent directories?  Maybe the package reached your user directory looking for `elm-package.json`?

[2016-10-21 13:54] jschomay commented on #24
@halohalospecial - Wow, you found it!!  I had an open .elm file that didn't have an elm-package.json at that level or higher!  Adding elm-package.json totally fixed the problem.  Maybe a safeguard against that would be good, because the error is very unhelpful!  I thought atom was maybe looking everywhere for a ~/Library/Preferences/com.github.atom.plist or something.  Thank you thank you!!  And s

[2016-11-02 10:11] halohalospecial commented on #18
@raffomania Not sure if you had this resolved already.  If not, you can try the latest version (2.8.4).  I fixed something that might be related to your issue.

[2016-11-03 09:42] raffomania commented on #18
Wow, seems to be fixed with the latest version. Thanks a lot for this awesome plugin!

[2016-11-03 09:42] #18 closed

[2016-11-10 18:19] mojo2go opened #25 "end of line comments get moved to the next line"
I tend to use end-of-line comments.  Elmjutsu does not.  It moves them to the next line for me.
Can I tweak that behaviour?  How or where?

What I want

[code]

What Elmjutsu gives me

[code]

[2016-11-10 21:04] halohalospecial commented on #25
Hi @mojo2go, you should submit this issue to https://github.com/avh4/elm-format instead :)

[2016-11-10 22:00] OvermindDL1 commented on #25
Entirely an elm-format issue as elm-format is what does that.  Also, you should use elm inline comment syntax instead of elm line comment syntax for in-expression comments like that, that is why elm-format moved it to a new line.

[2016-11-13 00:34] refried opened #26 "find usages doubled?"
I'm seeing an issue where all of the results of Packages -> Elmjutsu -> Find Usages are doubled in the results pane.  e.g.

File 1 Usage 1
File 1 Usage 2
File 1 Usage 1
File 1 Usage 2
File 2 Usage 1
File 2 Usage 1

Can you think of any reason this might be happening?  Would another plugin interfere?

Thanks.

[2016-11-13 01:31] halohalospecial commented on #26
Hi @refried can you provide a sample .elm file or project I can use to reproduce this?  Thanks!

[2016-11-13 13:12] #25 closed

[2016-11-15 21:19] refried opened #27 "Show constructor type in sidekick?"
Given a type like:
[code]

The sidekick shows
[code]
but I think it should show
[code]

Is this something that can be fixed within elmjutsu?

[2016-12-05 07:43] #14 closed

[2016-12-10 21:01] Positive07 opened #28 "Shadow DOM"
[Atom recently deprecated Shadow DOM](http://blog.atom.io/2016/11/14/removing-shadow-dom-boundary-from-text-editor-elements.html), it looks like some styles in elmjutsu are still using this kind of styles, so it shows up in the deprecation cop. This should be easy to fix, I can make a PR if you need.

[2016-12-10 22:10] Positive07 commented on #28
I started to work on this in Positive07/atom-elmjutsu@f73a6773486607e9dc3b535f7874834e945e04b7 I will test and report back if this work.

PS: Atom 1.13.0 is not yet released, I'm using a beta release (atom-v1.13.0beta7-ia32) so you will most likely need to bump version by a major or minor release in order to not affect older versions of Atom, I already bumped the dependency to Atom 1.13.0.

I gues

[2016-12-12 01:39] halohalospecial commented on #28
Thank you for the heads-up, @Positive07!  This should be a major release.

[2016-12-13 11:43] halohalospecial commented on #3
Resolved in v2.10.4 :)

[2016-12-13 11:43] #3 closed

[2016-12-15 10:13] halohalospecial commented on #28
Looks like something else will break :) https://github.com/atom/atom/issues/13189

[2016-12-15 17:33] Positive07 commented on #28
Ugh that is a problem. Can you point me to the line of code in elmjutsu where that problem will most likely be? I may be able to fix it... or that I hope haha

[2016-12-15 23:14] halohalospecial commented on #28
Based on https://github.com/atom/atom/issues/13189,

this line:

`event.target.getModel && helper.isElmEditor(event.target.getModel())) {`

should be:

`event.target.closest && helper.isElmEditor(event.target.closest('atom-text-editor'))) {`

That part of the code is for this behavior (discussed in https://github.com/halohalospecial/atom-elmjutsu/issues/5):

P.S.  Sorry for the new version, haha.

[2016-12-15 23:47] Positive07 commented on #28
HA! I see so that is the weird bug when I type `=` and it doesn't go to the next line (plus it's not like I need to press **`ENTER`** twice, it's more like I press **`ENTER`**, and suggestion appears again so I press  **`ENTER`** and that becomes a loop... I actually need to press **`ESC`** first to dismiss the autocomplete dialog) [like this](https://github.com/halohalospecial/atom-elmjutsu/issue

[2016-12-16 00:14] halohalospecial commented on #28
Can you kindly try it out?  I haven't upgraded to Atom 1.13 yet :)

[2016-12-16 00:58] Positive07 commented on #28
I will, I'll update you tomorrow

[2016-12-16 00:59] halohalospecial commented on #28
I'll probably not release anything that soon, unless there are major bugs.  You can already submit a PR if you like.  I'm thinking maybe we can make the changes compatible with the old versions?

[2016-12-16 01:01] Positive07 commented on #28
Will you merge it though? Since 1.13 is not released and it may brake in older versions (well not that older versions will actually get the update since the dependencies would specify `atom>=1.13.0`

[2016-12-16 01:05] halohalospecial commented on #28
Oh, I forgot about `atom>=1.13.0`.  Thanks for reminding me!  Let's just wait for the official release then.  Thanks!

[2016-12-16 02:15] Positive07 commented on #28
I'll take a look soon anyway so I'll keep you updated on my findings!

[2016-12-16 02:22] halohalospecial commented on #28
Thanks! :+1:

[2016-12-18 14:16] feldman4 opened #29 "failed to download package docs"
After updating, sidekick is not working for public packages. Sidekick still works for local functions. Uninstall + reinstall of the package and changing the cache directory did nothing.

[2016-12-18 15:52] feldman4 commented on #29
Traced it back to a dependency in elm-package.json that isn't on http://package.elm-lang.org/ (contains Native code). It looks like failing to find that package's documentation caused all the other ones to fail.

[2016-12-18 17:35] diegonc opened #30 "'Go to Definition' fails on some nested modules"
Hello

I've got an import that reads like in the snippet below

[code]

When the cursor is positioned in the `Result.Extra` part and I trigger the Go to Definition command an error pops up saying it cannot find the source file.

![image](https://cloud.githubusercontent.com/assets/261458/21295195/87b07864-c52e-11e6-8370-97d6b6908243.png)

Apparently elmjutsu doesn't replace the dot with a directory

[2016-12-19 04:41] halohalospecial commented on #30
Hi!  I installed `elm-community/result-extra` v2.0.1 and `Go To Definition` worked as expected.  Maybe you can give me sample project directory that demonstrates the issue?

As for why 2 tabs were opened, elmjutsu could not determine if you're talking about the module `Result` or the type `Result`.  You'll notice that in one of the tabs, the cursor is at `module Result exposing`.  In the other tab

[2016-12-19 04:56] halohalospecial commented on #29
Hi @feldman4, I think your hunch is correct.  Right now, elmjutsu is using `Task.sequence` for that part.  Thanks for reporting this issue!

[2016-12-19 07:17] #29 closed

[2016-12-19 12:27] rommsen opened #31 "Uncaught RangeError: Maximum call stack size exceeded"
Hey there. I always get this error when opening a specific file. This really stops me from using this awesome plugin :-(

[Enter steps to reproduce below:]

1. clone git@github.com:rommsen/elm-bookkeeping.git
2. open https://github.com/rommsen/elm-bookkeeping/blob/master/src/elm/Members/View.elm in atom

**Atom Version**: 1.12.7
**Electron Version**: 1.3.13
**System**: Linux Mint
**Thrown From**:

[2016-12-19 13:51] Positive07 opened #32 "markBufferRange doesn't allow persistent option"
Since 1.12 (and even more likely in 1.13) [markBufferRange](https://atom.io/docs/api/v1.12.7/TextEditor#instance-markBufferRange) as stated in atom/text-buffer#154 doesn't pass the persistent option down. Instead you need to use a [addMarkerLayer](https://atom.io/docs/api/v1.12.7/TextEditor#instance-addMarkerLayer) and then use [markRange](https://atom.io/docs/api/v1.12.7/MarkerLayer#instance-mark

[2016-12-19 13:56] diegonc commented on #30
I can reproduce it with this repo: https://github.com/diegonc/elmjutsu-issue-30

Sorry, I forgot to mention that I'm still using elm 0.17; thus my version of result-extra is 2.0.0.

Two tabs: ACK, I now see the difference 👍

[2016-12-20 10:02] halohalospecial commented on #31
Your specific case should be resolved already, but it's still possible to get "Maximum call stack size exceeded" if there's an infinite type (recursive type alias).  Will solve that in the future :smiley:

[2016-12-20 10:22] rommsen commented on #31
Yes I already tested it. Looks good. Thanks for the quick fix :+1:

[2016-12-21 08:41] halohalospecial commented on #32
Thanks again, @Positive07!  Let's just apply this on the Atom 1.13 version :-)

[2016-12-21 10:26] halohalospecial commented on #30
Hi!  I don't have Windows 10, but I tried this in Windows 7 and it's also working properly.  Maybe your elmjutsu version is outdated?  You can try to reinstall elmjutsu, then restart Atom.  Thanks!

[2016-12-21 10:28] halohalospecial commented on #31
Hi, the latest version (v2.12.1) should no longer crash on recursive type aliases.

[2016-12-21 10:28] #31 closed

[2016-12-21 15:50] diegonc commented on #30
I'm working with Atom 1.12.7 and elmjutsu 2.12.1 and still fails here 😢

I've been looking at the code, [here](https://github.com/halohalospecial/atom-elmjutsu/blob/master/lib/core.js#L73), and using Atom's developer console I found
that  that port subscription gets the following array when I try to go to `Result.Extra` definition:

[code]

The function then processes `sourcePath` in the second el

[2016-12-21 17:30] halohalospecial commented on #30
That's the weird part.  I'm getting  `http://package.elm-lang.org/packages/elm-community/result-extra/2.0.0/Result-Extra` for the sourcePath.  Notice the dash in `Result-Extra`.  You can also try to delete the directory set as `Cache Directory` so that elmjutsu will fetch the 3rd party package docs again.  Thanks for debugging this.

[2016-12-21 18:12] diegonc commented on #30
Oh that's weird, ideed. Also, my URL gives a 404 while yours works just fine.
I'll try deleting the cache.

[2016-12-22 02:15] diegonc commented on #30
Ok, I found the issue. There's this little bugger package named `colors`, coming from `atom-typescript`, that adds a non-pure `zalgo` property to the `String`'s prototype breaking character equality in Elm.

After disabling `atom-typescript` and reloading the window this package work correctly again. 🎉

![image](https://cloud.githubusercontent.com/assets/261458/21412868/26af602e-c7d2-11e6-9739-31a

[2016-12-22 02:25] halohalospecial commented on #30
Oh!  Things like this are my biggest problems with Atom.  Since it's so customizable, a package can affect the behavior of other packages.  Good thing you were able to resolve it! :tada:

[2016-12-22 02:25] #30 closed

[2016-12-22 12:13] #2 closed

[2016-12-23 05:37] halohalospecial opened #33 "Go To Symbol In File"
:-)

[2016-12-25 12:15] mbylstra commented on #10
I keep getting stuck in a state where I can't do anything because the sidekick is filling the entire screen due to a long doc. I then have to completely quit Atom, losing any unsaved work. Is there a key combo to close or disable the sidekick if this happens?

Setting the sidekick position to right instead of the default position of bottom makes it not fill the entire screen, but puts it in an inc

[2016-12-25 12:28] mbylstra commented on #10
The same thing can happen with the sidekick at the right position, if you have record with a lot of fields.

[2016-12-25 12:33] mbylstra commented on #10
A workaround is to use the keyboard shortcut for closing the current window: `Ctrl+w` in Windows and Linux,  and `Cmd+w` on Mac.

[2016-12-25 13:13] halohalospecial commented on #10
Hi!  You can do one of the ff:

- Execute `Elmjutsu: Toggle Sidekick` from the command palette.

- Bind `elmjutsu:toggle-sidekick` to a key combo in your ~/.atom/keymap.cson.  For example:
[code]

- Configure `Sidekick Size` in the package settings so that the height (or width) will remain constant.

[2016-12-26 00:53] mbylstra commented on #10
Hi. All of those options are good. Thanks for the help!

[2017-01-05 09:41] #27 closed

[2017-01-05 14:36] AntouanK opened #34 "port to Visual Studio Code"
Any chance of this plugin ported to Visual Studio Code?

[2017-01-05 15:51] halohalospecial commented on #34
Hi @AntouanK I haven't tried creating a VSCode extension yet, so I don't know how difficult it would be :grin: There were also others who wanted it to work with Sublime Text and Vim.  The code is kinda hackish and a bit coupled to Atom features right now, so the first step is to refactor the code to make it easier to work with other editors.  A part of me though wants to wait for the AST instead a

[2017-01-05 15:53] AntouanK commented on #34
I haven't worked on any plugin, so I don't know how difficult it is.
If you do start some work to abstract it though, I can dig into VScode to see what we can do.

[2017-01-05 16:03] halohalospecial commented on #34
I'll see what I can do if I get free time (no promises :grinning:).  Which features are you most interested in?

[2017-01-05 17:49] AntouanK commented on #34
I don't use Atom, so I haven't use the plugin before.
It sure looks good though.
I guess I want to some basic autocomplete, mostly to see types , and the "go to".

but whatever you think it's easiest for starters.

[2017-01-05 20:12] pauldijou opened #35 "Multiple elm-package.json files"
This plugin looks awesome but it crashes when I try to use it. The reason is that my project does not have a `elm-package.json` at the root of the folder. That's because I have two Elm projects, one for server-side, one for client-side, and some common source code.

[code]

Is there any chance for the plugin to search for `elm-package.json` files inside subdirectories and support several Elm proje

[2017-01-05 23:13] halohalospecial commented on #35
Hi, what did you mean by "it crashes"?  Were there error notifications or console errors?

[2017-01-05 23:39] pauldijou commented on #35
This is what I get right after enabling elmjutsu on my project (atom is opened at the root of the folder, not inside `client` nor `server`). Using 2.10.1, I'm having some internet issues and failed to update to last version. Will try again tomorrow.

![image](https://cloud.githubusercontent.com/assets/1275293/21701717/a5f7e988-d3a7-11e6-93fd-e5951fa4ab15.png)

[2017-01-06 00:34] halohalospecial commented on #35
Ah, I see.  Did you open a `.elm` file in the `src` directory (which does not have an `elm-package.json`)?  When you open a `.elm` file, Elmjutsu will search for an `elm-package.json` in that directory or the parent directories.   Elmjutsu will treat the directory (where `elm-package.json` was found) as the "project directory" and needs to read `elm-package.json` for info about imports and such.

[2017-01-07 16:02] brian-carroll opened #36 "Failed to load the elmjutsu package"
[Enter steps to reproduce below:]

1. Install elmjutsu package

**Atom Version**: 1.12.9
**Electron Version**: 1.3.13
**System**: Ubuntu 14.04.5
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package, v2.15.3

### Stack Trace

Failed to load the elmjutsu package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2017-01-07 16:59] 2cb-log commented on #36
Ran into the same issue on Mac OS X 10.11.6

From the Stack Trace looked into Elmjutsu's package.json and decided it couldn't hurt to:
 'npm install underscore-plus'

Disable / Enable wasn't sufficient to resolve the error, had to actually uninstall and then reinstall Elmjutsu.  Stack trace gone and with its package config settings change, I've got that Elmjutsu autocomplete goodness!

[2017-01-08 23:59] halohalospecial commented on #36
I checked the source and I was importing 'underscore' instead of 'underscore-plus' in one of the .js files.  I will include a fix in the next version.  Thanks for reporting!

[2017-01-09 00:01] #36 closed

[2017-01-09 00:09] halohalospecial commented on #36
Oh sorry, the real issue was that Atom was not able to install the dependencies properly.  Reinstalling usually solves the problem.

[2017-01-09 06:09] feldman4 opened #37 "fancy search"
It would be great to have something like http://klaftertief.github.io/elm-search/ available for the current project and dependencies.

[2017-01-09 14:33] halohalospecial commented on #37
Looks cool!  What are your use cases for this?

[2017-01-09 21:41] mandrolic opened #38 "Some features not working when files have CRLF line endings"
Don't seem to get hyperlinks for the functions declared local to a file, Elmjutsu -> Go to definition also has no effect

[2017-01-10 00:28] halohalospecial commented on #38
Hi!  Maybe you can post a screen capture that shows the issue?  Thanks!

[2017-01-10 07:00] feldman4 commented on #37
I'm waist-deep fixing a pipeline with the stellar `atom-elmjutsu` plugin and I can't quite remember the name of `function : OneType -> ToAnother`.

[2017-01-10 07:53] halohalospecial commented on #37
Maybe we can replace `Go To Symbol` with this.  We can search for either the symbol name or the type.

![go-to-symbol](https://raw.githubusercontent.com/halohalospecial/atom-elmjutsu/master/images/go-to-symbol.gif)

I hope we can reuse code from https://github.com/klaftertief/elm-search :smile:
cc: @klaftertief

[2017-01-10 13:24] mandrolic commented on #38
Hard to convey with screenshots, but with hyperclick installed, here is me pressing the ctrl key:
![image](https://cloud.githubusercontent.com/assets/1165872/21807709/021ceacc-d738-11e6-8a89-16472c58584c.png)

and here is me doing the same thing on the 'foo' function. No hyperlink, and the Elmjutsu context menu does not work either
![image](https://cloud.githubusercontent.com/assets/1165872/218077

[2017-01-10 13:34] halohalospecial commented on #38
Hmm.. I copied the code in the screenshot and it's working for me (using Lubuntu).  How about a sample directory?  I don't have a Windows 10 machine though :cry:

[2017-01-10 13:53] mandrolic commented on #38
This happens with just the Main.elm you see in the clipping, sadly, so the only other thing in the directory is the default elm-package.json that you get with 'elm-package install', i.e:

[code]

Must be a platform issue. Can't help you with a Win 10 machine - but if there is an easy way for me to switch on debugging etc I can help that way.

[2017-01-10 14:00] klaftertief commented on #37
Thanks for pinging me.
The elm-search is written in Elm and client-side only at the moment. It searches only published packages, though it can search local modules as well, given there is a proper index. The index is a combined list of `documentation.json` files. The search might not do everything you need at the moment, e.g. one can not prefix a function with a module name or search in types or t

[2017-01-10 14:14] halohalospecial commented on #38
You can try running Atom using `atom -d` and check the console (Ctrl-Shift-i) for errors.

Are the other features working?  You mentioned that `Go To Definition` is also not working.  Maybe the plugin is not parsing your project files properly for some reason.  Try to toggle the Sidekick panel to check if it's showing information for the symbols in the file.

[2017-01-10 18:55] mandrolic commented on #38
Sidekick panel shows for dependencies, but not for project types. So it agrees with the Go-to definition in that sense.

Looking at the console, elmjutsu does scan the files, and there are no errors logged:

[elmjutsu] Parsing project directory C:\dev\elmjutsuTest...
[elmjutsu] Parsing C:\dev\elmjutsuTest\A.elm
[elmjutsu] Parsing C:\dev\elmjutsuTest\Main.elm
[elmjutsu] Parsed project directory C:\

[2017-01-10 22:04] mandrolic commented on #38
OK it's a good old EOL issue. Atom on Windows by default is using CRLF, on *nix you'll only have LF, and probably that's all the downloaded dependency coded uses too, which explains why they work.
I'm not sure what the actual fix is but from stepping through the code, the regexes in indexing.js are failing to match. Perhaps they could be tweaked?

[2017-01-11 04:25] halohalospecial commented on #38
Hi @mandrolic!  Thank you so much for taking the time to debug this.  Can you check if the latest version works?  I was able to replicate the issue by changing the line ending in Atom.

[2017-01-11 04:27] halohalospecial commented on #37
@klaftertief Thank you for replying!  Maybe it's best to wait on your progress.  +1 on both the standalone Elm package and server side search! No need to hurry :smile:

[2017-01-11 04:45] halohalospecial commented on #28
Hi @Positive07, my Atom got automatically updated to 1.13.0.  I already removed `::shadow` from the `.less` files, but did not do any changes related to `event.target.getModel()` and it was still working as expected.  The `"engines"` value is still `"atom": ">=1.0.0 <2.0.0"`.  You can try out the latest Elmjutsu version.

[2017-01-11 04:46] halohalospecial commented on #32
Hi @Positive07, my Atom got automatically updated to 1.13.0, but I didn't see these issues in the deprecation cop.  Should I do anything extra to see them?

[2017-01-11 06:38] mandrolic commented on #38
Hooray! that fixed it. Great thanks, that will make some Elm/Windows users happier (assuming it's not just me)

[2017-01-11 11:42] halohalospecial commented on #38
I'm still wondering why this is the first time someone brought this up :thinking:

[2017-01-11 11:42] #38 closed

[2017-01-11 15:54] OvermindDL1 commented on #38
I'd not encountered it because I already had my line endings set that way.  😅

[2017-01-11 16:36] Positive07 commented on #28
Let me report some issues here

**Atom 1.14 beta 0 and Atom 1.13**
- "Go to previous/next usage" hangs Atom as in an infinite loop or something
- Sidekick is not shown
- "Rename symbol", "Add import", "Find usages", "Go to declaration", "Go to symbol". "Eval", "Add/Remove package" does nothing
- Deprecated call in Pipe Selection, "Assigning custom properties to a marker" similar to #32

**Atom 1.1

[2017-01-11 16:39] Positive07 commented on #32
Couldn't find this issue in Symbol finder because I can't "Go to Symbol/Declaration/Next usage/Previous Usage" as I reported in #28

I found a very similar issue in "Pipe Selection" to replicate, open the Command Pallete (Ctrl + Shift + P) search for "Elmjutsu: Pipe Selection" and select it, now go to the Deprecation Cop

[2017-01-12 15:09] pauldijou opened #39 "Uncaught Error: Trying to send an unexpected type of value through port `fileContentsChangedSub`:..."
[Enter steps to reproduce below:]

1. Enable elmjutsu
2. Open an Elm file

**Atom Version**: 1.13.0
**Electron Version**: 1.3.13
**System**: Ubuntu 16.04.1
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package, v2.18.0

### Stack Trace

Uncaught Error: Trying to send an unexpected type of value through port `fileContentsChangedSub`:
Expecting an object with a field

[2017-01-12 15:10] pauldijou commented on #35
Yeah, you're right... I can see a way to do that either. So I tried to create a "fake" `elm-package.json` at the root of the project with all dependencies from both `client` and `server` but I got [a new error](https://github.com/halohalospecial/atom-elmjutsu/issues/39).

[2017-01-12 17:46] halohalospecial commented on #35
Hi, do you have a sample project that I can use to replicate the issue?

[2017-01-12 19:33] markogresak opened #40 "elmjutsu is overriding js-hyperclick with noop"
As discussed here: https://github.com/AsaAyers/js-hyperclick/issues/53

Not sure why it's overriding hyperclick in js files. Can this be fixed or at least a way to select where the hyperclick provider should work? I love the package when working with elm, but for now, I'll have to keep it disabled when working in js.

[2017-01-12 19:40] AsaAyers commented on #40
Immediately before returning [this promise](https://github.com/halohalospecial/atom-elmjutsu/blob/271fe8731f9a5de72b15ab18334db008ed262a53/lib/hyperclick-provider.js#L10), you need to verify that the code has the right scope for you to scan. It looks like you have that check inside the promise, so it just needs to be moved.

[here](https://github.com/AsaAyers/js-hyperclick/blob/adbc0e21adf77f68adb

[2017-01-13 01:52] halohalospecial commented on #40
@markogresak, @AsaAyers, thanks a lot for debugging this :heart: I was able to replicate the issue by installing `js-hyperclick`.  @AsaAyers, thank you for pointing out the needed fix!  Also, great package!  I'm using it right now :smiley:

[2017-01-13 01:55] #40 closed

[2017-01-13 12:50] halohalospecial commented on #28
Hi @Positive07, I still couldn't make the issues appear :-(

I did the following:
- Exit Atom
- $ mv ~/.atom ~/.atom-backup
- Start Atom (it created a fresh `~/.atom`)
- Install `language-elm` and `elmjutsu`

Using Atom 1.13, elmjutsu 2.18.2, Lubuntu

[2017-01-13 19:05] Positive07 commented on #28
Well I'm really sorry, I have been using an outdated Elmjutsu and I didn't notice... Weird thing is that it just recently updated to 2.17.2...

I'm checking again an reporting my findings soon.

PS: I'm not on beta anymore so I'm using standard Atom 1.13. If you want I can try 1.14beta0 but I haven't found any difference really

[2017-01-13 19:24] Positive07 commented on #28
Well I still see the deprecation call with "Pipe Selection".

Also all the errors reported happen when using Elmjutsu on an unsaved Elm file.

And the issue with the = is still present when using **`TAB`**, it works fine when using **`ENTER`** now which is fine 99% of the time!

[2017-01-13 23:52] halohalospecial commented on #28
Hi, the latest elmjutsu version is 2.18.2.  I'll check the Pipe Selection issue next time (low priority :)).  Regarding pressing Tab for "=", it's not handled currently (only Enter is handled).  I think the correct behavior for that should be to close the autocomplete panel.  Thanks again for looking into this!

[2017-01-14 11:23] stil4m opened #41 "Other imports are changed inappropriate after 'add import'"
Suppose you have one type `Vehicle` with a value constructor `Car` in the module `Vehicle`, and a type alias `Car` (for a record) in the module `Car`. When using both `Vehicle` and `Car` in a third module and adding an import to that third module using Elmjutsu, the import for the `Car` module is changed inappropriate into a compilation error.

I've created a [repository](https://github.com/stil4m

[2017-01-16 00:05] #41 closed

[2017-01-17 09:28] halohalospecial opened #43 "Function.extractParams is deprecated."
Assigning custom properties to a marker when creating/copying it is
deprecated. Please, consider storing the custom properties you need in
some other object in your package, keyed by the marker's id property.
[code]

[2017-01-19 06:45] mandrolic opened #44 "Feature request: Add to exposed functions"
Useful when you are writing a module and exposing a few functions. Would be great to be able to add a function to the list without going to the top and re-tying it etc

[2017-01-19 07:25] halohalospecial commented on #44
This is related to #4.  Maybe a similar interface to `Add Import`.

[2017-01-19 07:47] halohalospecial commented on #35
Hi, does the new directory structure look like this?

[code]

[2017-01-19 08:04] pauldijou commented on #35
Yes, exactly. I will try to do the sample project this weekend.

Le 19 janv. 2017 8:47 AM, "halohalospecial" <notifications@github.com> a
écrit :

Hi, does the new directory structure look like this?

├── client
│   └── [some Elm code]
├── server
│   └── [some Elm code]
└── src
    └──  [some common Elm code]
└── elm-package.json

—
You are receiving this because you authored the thread.
Reply to

[2017-01-19 09:20] mandrolic opened #45 "Add setting so sidekick shows only type signature + description"
A lot of the core functions have a LOT of documentation, so the sidekick suddenly appears and it is HUGE. Hard to cope with on a laptop.
I know we could mess with the size and try to tweak it so that it just right, but it would be better I think if the sidekick only showed the type and first line of the description - this is 90% of the time all you care about. There could be a button to expand it

[2017-01-20 15:50] halohalospecial opened #46 "Deleting `elm-stuff` throws bunch of exceptions"
cc @rtfeldman :)

[2017-01-21 04:15] #45 closed

[2017-01-23 15:13] pauldijou commented on #35
Doing the sample project, I realized I had a wrong configuration in the project (one wrong `source-directories` in the `elm-package.json`). Fixing it fixed the Atom error.

There is only one thing that's not working but that's ok because I don't see any way how it could. It's the autocompletion when both `client` and `server` have the same module inside their respective folders exposing the same A

[2017-01-23 15:13] #35 closed

[2017-01-24 03:04] jah2488 opened #47 "Feature Request: Offline support?"
Hey!

I love elmjutsu it is really amazing and useful. I also have spotty internet where I live and sometimes find myself hacking on an elm project without any. I've noticed this causes several elmjutsu related features like autocomplete, imports, and the sidekick to not work or provide their same level of utility. They're not broken, they just clearly expect a constant internet connection.

I hav

[2017-01-24 04:16] halohalospecial commented on #47
Hi! You can set `Cache Directory` to a non-temporary directory so that elmjutsu does not need to download 3rd-party docs again when you restart Atom.

[2017-01-24 14:33] jah2488 commented on #47
@halohalospecial This is great, I didn't realize that. Thanks!

[2017-01-24 14:33] #47 closed

[2017-01-27 21:27] mandrolic opened #48 "Completion from type annotation should take into account '|>'"
The completion from type annotation is really useful, but when you are piping in the last parameter, you have to just delete that part of the auto completion

[] |> Lists.Extra.Find  (a -> Bool) List a

You don't really want the last 'List a'

Not sure how feasible it is, but would be nice

edit:

Also may be worth looking at some of the other operators like <|, >> << and infix functions

[2017-01-27 22:08] halohalospecial commented on #48
Great idea!  Let's add that special case.  Thanks for the suggestion!

[2017-01-28 11:01] mandrolic opened #49 "'Lift to Let' feature does not create a let..in block if function has no newlines"
e.g: calling Lift to Let on this selection

![image](https://cloud.githubusercontent.com/assets/1165872/22396105/037a62ea-e549-11e6-8f84-8a6c0a3b8512.png)

has no effect.
This form works though:

![image](https://cloud.githubusercontent.com/assets/1165872/22396114/28ed4358-e549-11e6-9814-5aaa191b8af8.png)

[2017-01-28 11:06] mandrolic opened #50 ""Uncaught TypeError: Cannot read property 'add' of null" on the second use of 'Lift to Let'"
Lift to let works fine the first time. the next time it does not and throws this error. Undoing the lift operation and re applying in the exact same scenario makes it happen, so it just seems to be throwing in all cases the second time, the code does not matter.

**Atom Version**: 1.13.0
**Electron Version**: 1.3.13
**System**: Microsoft Windows 10 Pro
**Thrown From**: [elmjutsu](https://github.co

[2017-01-28 11:55] halohalospecial commented on #49
Hi!  The current implementation is hacky and assumes the code follows elm-format's rules.  In the future, an implementation using an AST will be more accurate :-)

[2017-01-28 12:23] mandrolic commented on #49
OK cool. Is there any way to detect when it doesn't work and show that in Atom somehow? Status bar or low-priority notification?

[2017-01-28 12:32] halohalospecial commented on #49
Ok, good point.

[2017-01-30 10:04] #50 closed

[2017-02-01 23:13] gothy commented on #39
I'm experiencing the very same issue. Just cloned this boilerplate https://github.com/gkubisa/elm-app-boilerplate

[2017-02-01 23:52] gothy commented on #39
So, I've narrowed the issue to `AppRoute.elm` in the boilerplate.
Experiments brought me to this https://github.com/gkubisa/elm-app-boilerplate/blob/master/elm/App/AppRoute.elm#L50

Renaming the `toString` function to `toStr` seems to "fix" the "error". I'm not sure if it's this ticket is a good place to discuss this, but I found it interesting since it relates to the very special `toString` funct

[2017-02-02 08:59] halohalospecial commented on #39
Hi, thanks a lot for taking the time to debug this!  Looks like the problem is that the current regex is not robust enough to handle code not following `elm-format` rules.  In the case of `AppRoute.elm`, there's no space between `toString` and the succeeding colon.  For now, try to format the files first using elm-format (e.g. `elm-format src/`) before opening them.  Thanks again!

[2017-02-02 10:08] #39 closed

[2017-02-02 10:08] #48 closed

[2017-02-04 04:21] halohalospecial commented on #16
This is already in the latest version.

[2017-02-04 04:21] #16 closed

[2017-02-04 16:41] mandrolic opened #51 "Add Import: duplicate existing imports are not always removed"
Given:

[code]
Then Add Import -> Task

Get:

[code]

Note 'import List' is still there twice
Perhaps the clear line between duplicate 'import List' is stopping the de-duping.

[code]

Seems to work OK.

I think this is another case probably, where the feature works as long as you have elm-formatted code

[2017-02-06 06:42] clozach opened #52 "No documentation for Pipe Selections"
Even a single sentence might do the trick. As it is, it seems to show and hide a text field that doesn't appear to actually _do_ anything. :)

[2017-02-06 07:31] halohalospecial commented on #52
You've found an Easter egg! :tada:

It's an experimental command :grin:
https://github.com/halohalospecial/atom-elmjutsu/tree/master/images/pipe

I haven't written the docs yet because I'm not yet sure if it's useful enough to be officially included in the package :-)  It basically "pipes" (as in `|>`) the text selections into the Elm code you enter in the text field.  The selections will be treat

[2017-02-09 08:08] SergeyGrigorev1986 opened #53 "Uncaught Error: watch ~/workspace/HUMIO/humio/ui/node_modules/is-glob ENOSPC"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.14.0 x64
**Electron**: 1.3.13
**OS**: Ubuntu 16.04.1
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 3.4.0

### Stack Trace

Uncaught Error: watch /home/xors/workspace/HUMIO/humio/ui/node_modules/is-glob ENOSPC

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-02-09 08:08] #53 closed

[2017-02-10 04:18] rubedojr opened #54 "Adding space makes atom freeze"
In my elm project I have a file with the following code:
[code]

If I add a space at the end of the first line (in order to add the missing "=") atom freezes and I have to close it.
I tried using other characters and was only able to cause the error with a space.
When I disable elmjutsu I can add the space with no problems but when I enabled elmjutsu again the error persisted.

I'm on Windows 10,

[2017-02-10 07:41] #54 closed

[2017-02-10 08:59] halohalospecial commented on #51
This should be fixed in v3.5.1.  Thanks!

[2017-02-10 08:59] #51 closed

[2017-02-10 19:37] feldman4 opened #55 "don't auto-suggest on (-)"
This is usually not what you want.

![image](https://cloud.githubusercontent.com/assets/10049717/22841120/4f0fbf98-ef9e-11e6-9054-5c731da674aa.png)

[2017-02-12 05:35] rtfeldman commented on #46
To reproduce:

1. Clone https://github.com/rtfeldman/node-test-runner
2. `npm test`
3. `rm -rf elm-stuff && rm -rf examples/tests/elm-stuff && npm test`

Result:

<img width="482" alt="screen shot 2017-02-11 at 9 33 34 pm" src="https://cloud.githubusercontent.com/assets/1094080/22859902/d8000db8-f0a1-11e6-93a6-5a0ea6bc7c43.png">

[2017-02-15 14:13] BrianHicks opened #56 "Uncaught RangeError: Maximum call stack size exceeded"
This seems to happen randomly, especially when I'm working with union types. It says it was solved in #31, but I'm still getting it on the latest version. Is there you need beyond the following diagnostic?

**Atom Version**: 1.13.0
**Electron Version**: 1.3.13
**System**: Mac OS X 10.11.6
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package, v3.5.0

### Stack Trace

[2017-02-15 16:45] halohalospecial commented on #56
Hi!  Can you provide an Elm file or sample project? :grinning:  You can also try to upgrade to the latest version first.  Another infinite recursion case was fixed in v3.5.1.  It might be related to what you're encountering.  Thanks!

[2017-02-16 05:03] halohalospecial commented on #55
Hi!  I couldn't reproduce that :frowning_face: Maybe the GUI lagged so it showed the suggestions for "-"? Can you provide the steps needed for that to happen?  Thanks!

[2017-02-16 05:21] halohalospecial commented on #56
Hmm.. I used the stack trace you provided to find out which function got called.  Looks like it's similar to the resolved issue in v3.5.1 (you're using v3.5.0 based on the diagnostic).  Try to upgrade to the latest version first :-)

[2017-02-20 21:06] jespersm opened #57 "Support non-ASCII names"
Elmjutsu doesn't seem to work with "international" letters, i.e. outside the ASCII ranges, even if Elm, Atom and JavaScript support these just fine.

Example:

[code]

Hyperclicking on "med" jumps to the definition just fine, but doing the same on "fløde" is a no-op. These should work the same.

[2017-02-21 12:03] #57 closed

[2017-02-21 13:07] jespersm commented on #57
Awesome, thanks! I did actually download the code and intend to fix it myself, but wasn't sure I had the rights commands to build the elm/*.js files from their *.elm counterparts. Is there an easy way?

[2017-02-21 13:28] halohalospecial commented on #57
I just execute `elm-make Indexer.elm --output=indexer.js` in the command line :grinning:  However, the change I did was in a .js file.

[2017-02-21 14:01] jespersm opened #58 "Allow hyperclick to structure member definitions (enhancement)"
If I Cmd-click on a field name, it would be lovely if Elmjutsu could navigate to the definition, just like it can for for other structures. E.g.:

[code]
Cmd-clicking on `dessert` in the field-selection expression `meal.dessert` could navigate to the `dessert`definition in `Meal`, and `meal` should navigate to the formal parameter `meal` of `eat`.

I wouldn't mind trying to add this myself, but I'

[2017-02-21 20:50] dillonkearns opened #59 "Uncaught TypeError: Cannot read property 'slice' of null"
# Steps to reproduce:
I ran Elmjutsu go to symbol from a shortcut key

**Atom**: 1.15.0-beta1 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.11.6
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 5.0.3

### Stack Trace

Uncaught TypeError: Cannot read property 'slice' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-02-22 07:59] halohalospecial commented on #59
Hi @dillonkearns, this is a regression bug.  It's already fixed in my local repo.  Will it include it in the next release.  Thanks!

[2017-02-22 10:19] gyzerok commented on #34
I would like to vote for having it under VSCode as well. The work you've done for this plugin is really awesome 👍 ! And it is kind of forcing me to switch to Atom just because of your plugin. However I'd really enjoy being able to stay with VSCode while using it! :)

[2017-02-22 10:26] aravantv commented on #34
Also +1

[2017-02-22 10:47] halohalospecial commented on #34
Hi all!  I think it's better to collaborate on a language server instead (https://github.com/Microsoft/language-server-protocol) so that all editors can benefit :smile:

[2017-02-22 11:46] aravantv commented on #34
True! Is there such an initiative for elm?

[2017-02-23 11:27] #58 closed

[2017-02-23 11:27] #59 closed

[2017-02-25 23:21] dillonkearns commented on #59
Wonderful, thanks, and thank you for this awesome project @halohalospecial!

[2017-02-26 12:32] aravantv opened #60 "Autocompletion of function call whose type contains type variable"
Step-by-step:

1. in any source file, type in `Result.m` (really, just 'm')
-> the context menu should display `Result.map` as the first entry
2. press enter to complete your entry into `Result.map`

Observed: `Result.map (a -> value) Result.Result x a` gets inserted into the source code

However would be nicer, in my opinion, to have: `Result.map (a -> value) (Result.Result x a)`

The current beh

[2017-02-26 13:45] halohalospecial commented on #60
Good idea!  Thanks for the suggestion!

[2017-02-27 03:36] stanshillis opened #61 "Type Annotation Automation"
Elmjutsu shows inferred type annotation warning very nicely on the bottom. I was wondering if it's possible to have some way of automating the process of putting that type annotation into code. Perhaps by clicking on that warning somewhere, or a keyboard shortcut when text cursor is placed on the function with that warning. It is also not possible to copy that suggested signature from the pop-over

[2017-02-27 04:29] halohalospecial commented on #61
Hi!  I think you're referring to the [`linter-elm-make`](https://github.com/mybuddymichael/linter-elm-make) bottom panel/tooltip.  If so, the command you're looking for is [`Linter Elm Make: Quick Fix`](https://github.com/mybuddymichael/linter-elm-make#linter-elm-make-quick-fix).  Here's a related screen capture: https://raw.githubusercontent.com/mybuddymichael/linter-elm-make/master/images/show-i

[2017-02-27 04:32] halohalospecial commented on #61
If you want to copy anything from the bottom panel, you should use <kbd>Ctrl</kbd>+<kbd>C</kbd> regardless of whether you're using Mac or Windows.  It's a limitation of the `linter` package.  There's relevant discussion here: https://github.com/mybuddymichael/linter-elm-make/issues/63.

[2017-02-27 04:36] stanshillis commented on #61
thank you! I apologize for posting the questing in the wrong place.

[2017-02-27 04:37] #61 closed

[2017-02-27 04:52] halohalospecial commented on #61
No worries!  It happens all the time :grin:  Maybe because people were used to having Elm plugins that had everything in other (i.e. non-Atom) editors/IDEs.

[2017-02-27 12:52] halohalospecial commented on #60
This is already in the latest version (v5.1.1).  Thanks!

[2017-02-27 12:52] #60 closed

[2017-02-27 12:53] aravantv commented on #60
No way. You're a machine. Thank you!!!

[2017-02-27 20:58] jwoudenberg commented on #34
Hey there. I really like these tools and would love to help making them available in more editors. Specifically I'd like to port it to Vim, but I think it makes a ton of sense to collaborate on separating the tools from the many possible editor-specific wrappings.

[2017-02-28 20:29] AkosLukacs opened #62 "item.getURI is not a function on Atom's About page"
**Steps to reproduce:**

1. Open atom
2. Open Atom's about page
3. (maybe close and open atom)

**Atom**: 1.14.3 ia32
**Electron**: 1.3.13
**OS**: Windows 7 SP1
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 5.1.3

### Stack Trace

Failed to activate the elmjutsu package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-03-01 11:01] #62 closed

[2017-03-03 15:41] gampleman opened #63 "Lift to let on lambdas should convert to normal functions"
Given:

[code]

when doing a **lift to let** on the lambda this currently results in

[code]

but this would be preferable:

[code]

[2017-03-07 10:43] pacbeckh commented on #56
I'm on v5.2.0 got the same error:

RangeError: Maximum call stack size exceeded
    at Function.func (C:\Users\Paco\.atom\packages\elmjutsu\elm\indexer.js:1278:11)
    at A2 (C:\Users\Paco\.atom\packages\elmjutsu\elm\indexer.js:92:11)
    at Function.foldr [as func] (C:\Users\Paco\.atom\packages\elmjutsu\elm\indexer.js:1004:9)
    at A3 (C:\Users\Paco\.atom\packages\elmjutsu\elm\indexer.js:98:11)

[2017-03-07 11:12] halohalospecial commented on #56
Hi @pacbeckh!  Do you have a way to reproduce that?  Like a sample file or steps that I can follow?  Thanks!

[2017-03-07 11:31] halohalospecial commented on #56
Hi again!  If you're always encountering this issue, you can uncheck these options (settings view) in the meantime:

- Enable `Define from type annotation` special completion
- Enable `Replace type with default` special completion
- Enable `Insert default arguments` special completion

[2017-03-07 14:06] pacbeckh commented on #56
@halohalospecial  I'm a bit short on time, i'll try to see if I can make some time this week to make the files available to you.

[2017-03-08 00:44] halohalospecial commented on #56
Thanks, @pacbeckh!

[2017-03-08 09:33] pacbeckh commented on #56
@halohalospecial

I've added a copy of the files and working state in which the error occurs. See the readme.md for the error report and steps to reproduce:
[https://github.com/pacbeckh/UncaughtRangeError](https://github.com/pacbeckh/UncaughtRangeError)

[2017-03-09 04:47] #56 closed

[2017-03-09 04:50] halohalospecial commented on #56
@pacbeckh, thank you very much for being comprehensive! :+1: You can check out the latest release (v.5.2.1).

[2017-03-11 18:35] canadaduane opened #64 "Autoimport in unnamed files freezes Atom"
When I'm working inside a project with other elm files (presumably an `elm-package.json` file is required), the following steps will freeze the Atom Editor:

1. Create a new file (cmd-N)
2. Without saving to disk, choose Elm as the syntax (lower-right corner, click "Plain Text", choose "Elm" in subsequent drop-down list)
3. Type something that can be Auto imported, e.g. "update"
4. Choose "Auto im

[2017-03-13 10:34] halohalospecial commented on #64
Hi @canadaduane!  For simplicity's sake, it's not supposed to show suggestions for non-Elm files :grinning: I'll add some checks in the next release.

Do you have a use case where you really need to set the syntax of the editor to "Elm" and not save to a file?

[2017-03-13 13:23] canadaduane commented on #64
I was trying to write a syntax-highlighted example of some Elm for someone
on the mailing list, with the intention of copy-pasting to the mailing list.

On Mon, Mar 13, 2017 at 4:34 AM, halohalospecial <notifications@github.com>
wrote:

[2017-03-13 14:51] halohalospecial commented on #64
Hi!  The code will still get syntax-highlighted because of the `language-elm` Atom package.  Elmjutsu features will only work on `.elm` files though :-)

[2017-03-13 16:19] canadaduane commented on #64
It's still very nice to have elmjutsu fill things in when developing
"throw-away" code like this

On Mon, Mar 13, 2017 at 8:51 AM, halohalospecial <notifications@github.com>
wrote:

[2017-03-14 08:16] halohalospecial commented on #64
Hi!  I still have to think about the implications of adding this.  I'll put this on low priority for now :smile:  You can create temporary `.elm` files in the meantime.

[2017-03-14 10:24] pacbeckh opened #65 "Add import does not add import"
Given the following file:
[code]

An import is suggested for Html.Attribute. Nothing happens when Add Import is executed:
![ScreenCapture](https://media.giphy.com/media/3o7bugEe7cvObUdG6I/source.gif)

[2017-03-14 11:08] halohalospecial commented on #65
@pacbeckh, thanks for the report!

I noticed there's a syntax error:
    `module Foo (selectEventHandler)`
should be
    `module Foo exposing (selectEventHandler)`

When I added " exposing ", `Add Import` worked as usual.  I still have to check why.

[2017-03-14 11:29] pacbeckh commented on #65
@halohalospecial that must have happened when copying the code around.

Strange that it does work on your computer, as it still doesn't work for me even if `exposing` is added (The gif, does have the `exposing` on the right place).

[2017-03-14 11:38] pacbeckh commented on #65
I managed to reduce the problem to:

[code]

It seems that if `import Html.Events` import is already present, it cannot also add `Html`

Demo:
![ScreenCapture](https://media.giphy.com/media/xUPGchmn2PKS7kc75K/source.gif)

Also tested by @stil4m

[2017-03-14 12:04] halohalospecial commented on #65
Hmm, weird that it's working on my computer :thinking:

![add-import-issue](https://cloud.githubusercontent.com/assets/2138906/23899751/503980ea-08f1-11e7-8efc-1da1dd3e598d.gif)

[2017-03-14 12:06] halohalospecial commented on #65
Oh!  You're using the `Quick Fix` command of `linter-elm-make`.  It does not have information about the imports.

[2017-03-14 12:11] pacbeckh commented on #65
@halohalospecial , it is indeed the `Quick Fix` command.  I should have made that more clear.

It does work if `import Html.Event` is removed.

[2017-03-14 12:15] #65 closed

[2017-03-14 15:07] pacbeckh opened #66 "Uncaught Error: ENOENT: no such file or directory when deleting file in Atom"
Steps to reproduce:

1. Clone https://github.com/pacbeckh/UncaughtError
2. Open atom in root directory
3. Open file `tests\QL\TypeChecker\Expressions\OperandTypesTests.elm`
4. Remove the above file in Atom

Demo:
![ScreenCapture](https://media.giphy.com/media/3o7bu153xDO1KVkBck/source.gif)

In the gif above it shows 2 exceptions, I previously managed to reproduce it with only the elm-jutsu error.

[2017-03-15 16:36] vladpazych opened #67 "Sidekick shows error when trying to download docs"
I use `elm-ui` package that is not available in official elm-package, but sidekick tries to download docs from official elm-package, fails and shows large error:

[code]

Better to not show the error, or at least to have option in settings to mute errors.

[2017-03-16 00:30] halohalospecial commented on #67
Hi @vladpazych!  The workaround in the meantime is to generate a documentation file (`elm-make --docs documentation.json`) inside the package directory and copy that to the elmjutsu cache directory.  For example, if you have `elm-ui`, copy `documentation.json` to `<elmjutsu-cache-directory>/docs/gdotdesign/elm-ui/1.0.1/`.

I'm thinking of maybe moving the failure message to a notification popup in

[2017-03-16 07:46] vladpazych commented on #67
Thanks.

[2017-03-17 00:19] #66 closed

[2017-03-17 00:19] #67 closed

[2017-03-17 10:15] halohalospecial commented on #37
@feldman4, you might find this useful:

![autocomplete-type-filtering](https://raw.githubusercontent.com/halohalospecial/atom-elmjutsu/master/images/autocomplete-type-filtering.gif)

(Not as sophisticated as `elm-search` though because it's just using regex on the type signature :smile_cat:)

[2017-03-17 12:08] xorsnn opened #68 "Uncaught Error: watch ~/workspace/HUMIO/humio/ui/node_modules/node-sass/test/fixtures/source-map ..."
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.15.0 x64
**Electron**: 1.3.13
**OS**: Ubuntu 16.04.2
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 5.4.0

### Stack Trace

Uncaught Error: watch /home/xors/workspace/HUMIO/humio/ui/node_modules/node-sass/test/fixtures/source-map ENOSPC

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-03-20 04:35] halohalospecial commented on #34
There's relevant discussion here: https://groups.google.com/forum/#!topic/elm-dev/aDWFBg72Wt4

[2017-03-20 04:35] #34 closed

[2017-03-20 11:19] xorsnn opened #69 "Uncaught ReferenceError: indexer is not defined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.15.0 x64
**Electron**: 1.3.13
**OS**: Ubuntu 16.04.2
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 5.4.0

### Stack Trace

Uncaught ReferenceError: indexer is not defined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-03-20 19:50] pruett commented on #69
Not sure if this is helpful, but I seem to be getting this error when running commands in my terminal within the `elm repl`.

[2017-03-23 03:26] #69 closed

[2017-03-23 03:53] halohalospecial commented on #68
Hi @xorsnn, when did you encounter this error?

Can you also check if you still have available disk space?  You can check this out: http://stackoverflow.com/questions/22475849/node-js-error-enospc

[2017-03-23 04:14] halohalospecial commented on #69
Thanks @xorsnn and @pruett!

[2017-03-28 14:20] AntouanK opened #70 "Format big records in the sidekick"
![screenshot_2017-03-28_15-18-34](https://cloud.githubusercontent.com/assets/4569111/24410060/f79c7cce-13c9-11e7-8ec7-2e3f849639f8.png)

For big records, having the type description in one line makes them unreadable.
Could we format them to break into new lines?
Maybe use elm-format to do that.

[2017-03-30 12:07] sentience opened #72 "Insert case/of completion not working"
The ‘Insert case/of’ special completion is not being offered to me, even though it is enabled in my preferences. Other special completions are working fine.

Atom 1.15.0 stable

[2017-03-30 23:18] halohalospecial commented on #72
Hi!  Do you have a sample scenario where it's not working?  Note that there should be a space at the end of the line for it to offer case/of completion :-)  You can try this example (type space after "case bool"):

[code]

![case-of-example](https://cloud.githubusercontent.com/assets/2138906/24530078/2cd8a42a-15e2-11e7-8b3b-a9a37625fe3f.gif)

[2017-03-30 23:47] sentience commented on #72
Tried it with the exact code above, and the completion is not offered. I made sure to type the space after `bool`.

Not sure what you mean by “only works if there are type signatures”. There is a type signature for the `foo` function in the example above; is that all you mean? Or is this some other feature of Elmjutsu that must be enabled (such as the type tooltips)?

[2017-03-31 00:04] halohalospecial commented on #72
Yep.  Your case sure is weird hmm.  That should work if the other special completions are working fine.  Can you check if there are errors in the Atom console?

[2017-03-31 00:11] sentience commented on #72
Nothing in the console, I’m afraid.

Aha! I disabled the case/of special completion option, closed Preferences, reopened preferences, enabled the case/of special completion option, and it’s working now! ¯\_(ツ)_/¯

[2017-03-31 00:17] halohalospecial commented on #72
Haha!  Software :grinning: Glad you got it working!

[2017-03-31 15:01] stejanse opened #73 "Generate documentation.json if not available from elm-lang.org"
I use elm-install for private packages in my Elm project. Those private packages are documented, but of course, the `documentation.json` is not available on elm-lang.org. Now I get an error as previewed in the image, and autocomplete does not work. It would be nice, if elmjitsu would  generate the `documentation.json` itself using `elm-make` if it is not available from elm-lang.org.

![image](http

[2017-03-31 23:07] halohalospecial commented on #73
Hi!  The workaround in the meantime is to generate a documentation file (`elm-make --docs documentation.json`) inside the package directory and copy that to the elmjutsu cache directory. For example, if you have `msp-css`, copy `documentation.json` to `<elmjutsu-cache-directory>/docs/ep/msp-css/1.0.3/`.  You can set `Cache Directory` in the settings view.

Automatically generating the `documentati

[2017-04-01 15:28] stejanse commented on #73
@halohalospecial Thanks for the quick response and the workaround, that will work for now!

Don't have all packages the `elm-package.json` in the root of the package? Shouldn't that be the location to run `elm-make --docs`?

[2017-04-06 07:33] eirikm opened #74 "Missing settings-menu"
Atom 1.15.0 x64 on Mac
elmjutsu 5.5.1

![elmjutsu missing settings](https://cloud.githubusercontent.com/assets/504763/24742798/01569e1e-1aac-11e7-8945-8f7667873944.jpg)

[2017-04-06 07:52] halohalospecial commented on #74
Hi @eirikm, I think that is an Atom bug.

You can try to do the following:
1. Uninstall `elmjutsu`.
2. Exit `Atom`.
3. Start `Atom`.
4. Reinstall `elmjutsu`.
5. Exit Atom.
6. Start `Atom`.

[2017-04-06 08:06] eirikm commented on #74
I rebuilt the package and now it works.
Thought I should document the process, but now I can't reproduce the error :-/

thanks!

[2017-04-06 08:06] #74 closed

[2017-04-06 08:12] halohalospecial commented on #74
It happens from time to time, even with other packages :-)  You can also try the same workaround if you encounter issues after updating a package.

[2017-04-06 12:51] splodingsocks opened #75 "Support VS Code?"
Hi, @halohalospecial!

Just dropping an issue in here to remind us how cool it'd be to move a lot of this functionality to a common core that could be shared between an extension for VS Code and for Atom.

Just something to put on the back-burner. I know we both have a ton of stuff going on already.

[2017-04-19 22:52] Positive07 opened #76 "Elmjutsu takes too long to activate"
Currently elmjutsu is the package, in my setup, that takes the longest time to activate, at 14 seconds! which is a lot considering this happens each time you open a window.

So I think that this package needs to consider improving this aspect of it's code (since the package is already amazing and pretty much stable). I want to start a discussion of possible improvements, noting that this is not a

[2017-04-20 05:38] halohalospecial commented on #76
Hi, @Positive07!

Most of the features are inside classes (see the `activate()` function in https://github.com/halohalospecial/atom-elmjutsu/blob/master/lib/main.js).  What we can do is to time the `constructor()` functions of those classes to see which are taking a lot of time.  I'm all ears if you have suggestions on how to organize the code better (my JavaScript know-how is a bit outdated) :smi

[2017-04-20 05:51] halohalospecial commented on #76
Oh sorry, are you suggesting something like https://nuclide.io?

[2017-04-20 12:04] Positive07 commented on #76
The advantage of splitting the package would be to only install those packages that you really need. But I can see what you mean about running a single elm-make process.

I used Time Cop to time the package activation. I can probably make some more tests and post the results (I'll do what you proposed and time the constructors to see what is the bottleneck or how the load is distributed).

It seem

[2017-04-20 13:00] halohalospecial opened #77 "Check that at least one of the src paths in `elm-package.json` matches (or is a child of) the current project"
From https://github.com/halohalospecial/atom-elmjutsu/issues/76, as suggested by @Positive07:

[2017-04-20 13:05] halohalospecial commented on #76
@Positive07, thanks for your help!  I didn't realize that elmjutsu is contributing that much to the lengthy activation time in Atom :smiley:  We can probably load some stuff lazily (like the Sidekick panel).

You might also be interested in the upcoming [Atom 1.17](http://blog.atom.io/2017/04/18/improving-startup-time.html).

I created a new issue for this so that we can track it separately:

[2017-04-20 15:42] Positive07 commented on #77
As an example:

I have a project made in elm which has it's `elm-package.json`, this files is for the project itself, so the `src` path is set to the `elm` folder where I have all the `.elm` files or at least the main entry point. In this project folder I have a subfolder called `old` where I keep old `.elm` files which are not part of my project.

If I open the `old` folder with Atom, Elmjutsu se

[2017-04-20 20:14] Positive07 commented on #76
It looks like `better-queue` calculates an UUID for each task you perform on a Queue, the UUID use a pseudo-random number generator function using various math operations in JavaScript which is not really efficient and takes some time to load.

The UUID is not really necessary a number would just do, this improvement has already been pointed out in the [issue #12](https://github.com/diamondio/bett

[2017-04-30 01:03] Positive07 commented on #28
Hey this has long been fixed! I'll close it

[2017-04-30 01:03] #28 closed

[2017-05-17 04:17] danheuck opened #78 "Imports of union types cause issues with insertion of case/of statements"
Importing a union type from a module (in all ways but one) either breaks insertion of case/of statements, or inserts case/of statements that will not function.

For an example, if I have this module:
[code]
And I import it with
`import Exporter exposing (Test(..))`
or
`import Exporter exposing (Test(Test1, Test2))`
The case/of insertion will not be provided.

If on the other hand I import with
`im

[2017-05-21 19:28] DavidLGoldberg opened #79 "Failed to load with "Failed to require the main module of 'elmjutsu'" in console."
In console I see:

Failed to require the main module of 'elmjutsu' because it requires one or more incompatible native modules (binding, binding, binding, binding, binding).
Run `apm rebuild` in the package directory and restart Atom to resolve.

Image for clarity below:

![image](https://cloud.githubusercontent.com/assets/578479/26286713/e1fdfee8-3e39-11e7-8024-1b7ce5958f6f.png)

I did try to run

[2017-05-22 05:19] halohalospecial commented on #79
@DavidLGoldberg Hmm, this is also the first time I've seen that.  Can you try reinstalling elmjutsu first?  Thanks!

[2017-06-07 11:20] hakonrossebo commented on #75
@halohalospecial - I've created an issue on how we can try to join forces on creating a common language server for Elm here - https://github.com/Krzysztof-Cieslak/vscode-elm/issues/137. Hope you can join in and give us some of your thoughts on this.

[2017-06-17 10:04] gampleman commented on #10
Perhaps it could be turned into a Dock?

[2017-06-20 12:47] rupertlssmith opened #80 ""Failed to download package docs" warning cannot be disabled."
I am using some packages that are not on http://package.elm-lang.org/, which results in an error pop-up appearing every time I open a .elm file.

It would be nice if there was a way to disable this warning.

[2017-06-26 18:10] ianp commented on #79
I'm seeing the same issue (Atom 1.19.0-beta1). Running `app rebuild` makes no difference, neither does uninstall and reinstalling elmjutsu.

I'm not familiar with Atom package dev, but am happy to spend some time trying things at your suggestion.

[2017-06-26 18:19] ianp commented on #79
Looks like the problem is with `fsevents`, see:

<img width="555" alt="screen shot 2017-06-26 at 19 14 01" src="https://user-images.githubusercontent.com/103420/27553699-ed258c42-5aa3-11e7-934f-abe0b3db73c5.png">

I've also tried
[code]

But it didn't change anything. I've also tried with both the `--update-binary` and `--build-from-source` options to `npm`.

I'm running OS X 10.12.5 if that helps

[2017-07-07 22:03] AionDev opened #81 "bad symbol renaming - the new name of the symbol is duplicated with each renaming"
Today i noticed this:
![bad symbol renaming in `elmjutsu` - the name is duplicated](https://user-images.githubusercontent.com/20288140/27978372-bb1203a2-6377-11e7-9ab2-d405674b13ee.gif)

My installed non-default atom packages are:
[code]
I restarted atom, i uninstalled and reinstalled `elmjutsu` again.
What is interesting is that no one reported this issue yet.
My Settings for the `elmjutsu` packa

[2017-07-10 02:56] #81 closed

[2017-07-10 03:04] halohalospecial commented on #81
Nice catch, @AionDev! :smile:  Looks like it's because elmjutsu detected 2 symbols named `Document` in `type Document = Document { ... }`.

[2017-07-10 11:44] DavidLGoldberg commented on #79
I tried my normal few things, uninstall etc.  No luck, just tried again, same.

what versions do you get when you do:
`nvm current`

`node -v`

I vaguely remember the shell you're on when you install affects it.

[2017-07-10 11:52] DavidLGoldberg commented on #79
Ah, so I followed the instructions from this post and it worked!

https://github.com/jas-chen/atom-live-server/issues/57

[2017-07-10 12:17] DavidLGoldberg commented on #79
(Amazing package btw)

Quick question: Any thoughts of doing something like elm-navigator package did and write some of this package in elm?  I'm trying to learn elm / put it in my packages at some point.

BTW, still not 100% clear to me what causes the packages to get into the state that made me create the issue.  Other packages seem to have the same issue with fsevents.  I am not sure if there i

[2017-07-10 13:47] ianp commented on #79
Updating to the latest version, then rebuilding from the incompatible packages view seems to have fixed it: many thanks!

[2017-07-10 15:48] halohalospecial commented on #79
Hi!  Sorry, I was not able to help much.  Maybe it has something to do with `fsevents` in Mac (I'm using Lubuntu).  `elmjutsu` and `linter-elm-make` depends on `chokidar`, which uses `fsevents`.  `atom-live-server` depends on `live-server`, which depends on `chokidar`.

About your quick question @DavidLGoldberg, the core parts of this package were written in Elm (https://github.com/halohalospecial

[2017-07-10 19:15] brasilikum opened #82 "Is integrating elm-lint in scope?"
https://github.com/jfmengels/elm-lint seems to hint to a lot of good practices.
Do you see including this in scope for this package or should someone turn it into a separate package?

[2017-07-11 00:46] halohalospecial commented on #82
Hi!  https://github.com/stil4m/elm-analyse, a similar tool, is going to have an Atom package (https://twitter.com/ElmNetherlands/status/875063341575798784).

[2017-07-12 01:22] halohalospecial commented on #79
Hi again!  I've recently updated Atom (I didn't realize that I was not using the latest version) and noticed the red bug icon like in your screenshot.  When I clicked that icon, the `Incompatible Packages` tab appeared and I was able to resolve the issue by clicking the `Rebuild Packages` button.

[2017-07-12 14:54] brasilikum commented on #82
Wow! This is cool!

[2017-07-12 14:54] #82 closed

[2017-07-13 15:55] GarrettFleischer opened #83 "Failed to download package docs behind corporate proxy"
As can be seen in the image below, elmjutsu seems to ignore the proxy settings for Atom to retrieve package docs.
Issue #67 suggested manually acquiring them and placing them in the elmjutsu cache directory.
Where is the cache directory located?

This error gets rather annoying as it pops up every time I open an elm file.

![image](https://user-images.githubusercontent.com/18196120/28175255-908751

[2017-07-14 01:52] halohalospecial commented on #83
Hi @GarrettFleischer, you can configure the `Cache Directory` in the [Settings](https://github.com/atom/settings-view) view.  You can also check out https://github.com/halohalospecial/atom-elmjutsu#feature-details for more details about the cache directory.

[2017-07-14 03:12] GarrettFleischer commented on #83
@halohalospecial Thanks for the response!

Not sure how I missed the obviously labeled setting while looking directly at it at least 3 times. >_<
Now that I know where the directory is I was able to download the docs on my home pc and transport them via usb.

Any chance of getting a fix for this issue at some point?

Thanks!
- Garrett Fleischer

[2017-07-14 21:03] wende commented on #80
I'm using many packages that aren't there.
I'd love to be able to have elmjutsu working when it cannot reach the pacakges

[2017-07-15 13:24] rupertlssmith commented on #80
@wende Lets look at the code and see if we an make a pull request for this - it should just be the case of commenting out a single line?

[2017-07-15 21:22] DavidLGoldberg commented on #79
Yeah, I've had to do it more than once though, let's keep an eye on it... It's probably not your fault really unfortunately :\

[2017-07-15 21:23] DavidLGoldberg commented on #79
Thanks for the link to the code, I guess I didn't spend enough time with the source :)

[2017-07-15 21:26] DavidLGoldberg commented on #79
Damn, you're a super hero.... This will be my new goto.....I'll have to get it set up and see if I can hack at it before moving on to porting Jumpy :)  The other one I looked at had a build step....I'll be curious to see how you handled that, I'll probably ping you with some questions in a week or so :)

[2017-07-16 01:42] halohalospecial commented on #79
Awesome work on the Jumpy package!  If you're on Elm Slack, you can also ping me there :smile:

[2017-07-19 11:35] halohalospecial commented on #26
I think this is related to #81 :smile_cat:

[2017-07-19 11:35] #26 closed

[2017-07-19 11:38] halohalospecial commented on #10
Great idea, @gampleman !

[2017-07-20 10:26] #73 closed

[2017-07-20 10:26] #80 closed

[2017-07-20 10:36] halohalospecial commented on #80
Hi!  Can you check if the latest version (v.5.6.0) satisfies your use cases :smiley_cat:  Thanks!

[2017-07-20 10:39] halohalospecial commented on #73
@stejanse, the `elm-make --docs` approach did not work for packages that rely on other non-official packages.  I tried a different approach with the latest version (v.5.6.0).  Can you check if it satisfies your use cases :smiley_cat:  Thanks!

[2017-07-20 10:50] rupertlssmith commented on #80
v 5.6.0 is good for me; the annoying messages are gone. Thanks a lot for sorting it. :-)

[2017-08-05 06:24] mbylstra opened #85 "keybinding to open a documentation sourcePath url in a browser"
I love it how a clickable link shows up in the SideKick to open the documentation from the Elm Package website. It'd be great if there was a keybinding to open the docs link directly when your cursor is over a symbol in the editor, without having to mouse to the sidekick and click the link.

[2017-08-05 20:54] Lattyware opened #86 ""Infected" elm-stuff."
I'm not sure exactly what happened, but I assume something broke. While using [`elm-css`](https://github.com/rtfeldman/elm-css), I started getting failures. I hadn't changed much, so I was confused.

The output was odd, with `elm-css` just saying `Error: The following errors occurred during compilation:`, and then spitting out complete compiled CSS, which seemed really odd. Eventually I saw this:

[2017-08-06 05:38] halohalospecial commented on #86
Hi @Lattyware, this is a known issue.  When inferring types (e.g. https://github.com/halohalospecial/atom-elmjutsu#infer-types-on-the-fly), elmjutsu injects [Type Bombs](http://blog.jenkster.com/2016/11/type-bombs-in-elm.html) into the code (e.g. `elmjutsu_duMMy_fuNct10n_`) to force `elm-make` to generate errors.  If you're using a tool like webpack, there's a possibility that it will get the code

[2017-08-13 17:42] alescar opened #87 "Cannot enable Autocomplete. No settings button for the package"
![screen shot 2017-08-13 at 7 56 37 pm](https://user-images.githubusercontent.com/13641420/29252307-bdccc3f2-8064-11e7-9d28-2d1513bb2bcd.png)

[2017-08-13 18:53] #87 closed

[2017-08-13 18:54] alescar commented on #87
Rebuilt the package and it worked.

[2017-08-14 13:17] Namek opened #88 "Uncaught TypeError: Cannot read property 'getPath' of undefined"
[Enter steps to reproduce:]

1. Enable Hyperclick
2. CTRL click on type name used somewhere

**Atom**: 1.19.0 x64
**Electron**: 1.6.9
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 5.6.2

### Stack Trace

Uncaught TypeError: Cannot read property 'getPath' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code

[2017-08-14 13:22] Namek commented on #88
Unfortunately, can't reproduce anymore.

[2017-08-16 07:44] MaximeRDY opened #89 "Uncaught TypeError: autocompletePackage.mainModule.getAutocompleteManager is not a function"
Hello, I found an bug. :-)

Repro-steps :

1. Install latest update of autocomplete-plus (2.35.8)
2. Open Atom

**Atom**: 1.19.1 x64
**Electron**: 1.6.9
**OS**: Mac OS X 10.12.5
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 5.6.2

### Stack Trace

Uncaught TypeError: autocompletePackage.mainModule.getAutocompleteManager is not a function

[code]

### Command

[2017-08-16 08:28] halohalospecial commented on #89
Hi @MaximeRDY, are you usingAtom 1.20? :D

[2017-08-16 12:07] MaximeRDY commented on #89
Hi @halohalospecial ,

Nop I'm using Atom 1.19.1 :-) The latest stable (normally)  version.

[2017-08-18 14:20] #89 closed

[2017-08-18 14:21] halohalospecial commented on #89
@MaximeRDY, can you check the v5.6.3?  Thanks!

[2017-08-21 07:48] MaximeRDY commented on #89
Hi @halohalospecial,

It works ! :-)

Thank you,
Have a good day !

[2017-08-28 12:52] xorsnn opened #90 "Uncaught Error: watch ~/workspace/humio/ui/src/elm/Utils/Dom.elm ENOSPC"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.19.3 x64
**Electron**: 1.6.9
**OS**: Ubuntu 16.04.3
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 5.6.3

### Stack Trace

Uncaught Error: watch /home/xors/workspace/humio/ui/src/elm/Utils/Dom.elm ENOSPC

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-08-29 13:10] halohalospecial commented on #90
Hi!  Maybe there are too many watched files?  You can check https://stackoverflow.com/questions/22475849/node-js-error-enospc for possible solutions.

[2017-09-01 13:33] halohalospecial commented on #79
The dependencies were updated a few versions ago.  Feel free to reopen the issue if you encounter it again :smile:

[2017-09-01 13:33] #79 closed

[2017-09-02 15:34] jacoporicare commented on #72
Hello, I'm experiencing the same issue and I'm not able to fix it 🙁. No errors in console, nothing.
I'm on MacBook Pro, late 2015, macOS Sierra 10.12.6.

[2017-09-03 01:11] halohalospecial commented on #72
Hi @jacoporicare, can you provide a screenshot?  Thanks!

[2017-09-03 10:35] jacoporicare commented on #72
![case-of](https://user-images.githubusercontent.com/18525854/30002234-57fb0534-90a4-11e7-9932-4d6a5f23c99d.gif)

[2017-09-03 10:38] jacoporicare commented on #72
BTW I know it's a different topic but I have to press Enter twice when I type `=` because I have to "confirm" the autocomplete. Is there a way to not pre-select the first item or even better not to offer an item which is exactly the same like I typed? E.g. if I type `=` then it's not necessary to offer `=`.

[2017-09-03 12:06] anagrius opened #91 "Very slow edit/save on large projects"
We have a project 50k+ lines of Elm. We love Elmjutsu! Atm though we can't use it because it makes editing Elm files, very slow when typing and saving.

I profiled a little and it seems that the `getActiveFileTokens` in Indexes is one of the major culprits. We would love to use the addon, but right now, it almost makes Atom unusable event on new machines. I will try to do more profiling to see wha

[2017-09-05 11:23] halohalospecial commented on #72
@jacoporicare, I tried your example and it's working.  Settings view also looks fine.  Maybe another Atom package has a bad interaction with that feature?

Regarding the issue with `=`, the hack discussed [here](https://github.com/halohalospecial/atom-elmjutsu/issues/5) doesn't work anymore with the recent version of `autocomplete-plus`. :cry:  As a workaround, you can set `Autocomplete Min Chars`

[2017-09-05 11:32] halohalospecial commented on #91
Hi @anagrius, do you think it's because you have lots of files, you have large files, or both?  On my machine, it's tolerable on a 4.2K-line file :smile_cat:

[2017-09-05 11:38] halohalospecial commented on #91
Oh, and there are some features that are really slow :sweat_smile: (https://github.com/halohalospecial/atom-elmjutsu#performance-tuning)

[2017-09-06 08:09] jacoporicare commented on #72
Thank you, I'll investigate it further. Thanks for the tip with `autocomplete` settings, that should help.

[2017-09-11 18:03] amitaibu commented on #91
@halohalospecial awesome package!

on my machine I have also https://atom.io/packages/language-elm for the syntax highlight. When I disabled `autocomplete` option of `language-elm` -- elmjitsu became fast again.

[2017-09-11 18:04] amitaibu commented on #91
Care for a PR to add this to the README ?

[2017-09-11 23:51] halohalospecial commented on #91
Sure @amitaibu :smile:

There's also this note in the README:

[2017-09-12 01:54] robjac commented on #86
Hey all; I seem to have `elmjustsu_duMMy_fuNct10n_` things replacing my element ids in my markup in the browser. what info or files would you need to debug this?

[2017-09-12 06:36] halohalospecial commented on #86
Hi @robjac!  We don't have a way to reproduce this right now.  It'd be great if you have steps that we could follow :smile:

[2017-09-12 07:00] amitaibu commented on #91
Oh, sorry I missed it, I was looking for it in the performance tuning. Maybe worth moving it to a more prominent place -- as it's very likely that most users will have `language-elm` as-well?

[2017-09-12 17:39] robjac commented on #86
@halohalospecial hey ! so there's no way I can reproduce it; as all I did was install it; after 2 days of dev sessions; I noticed that my styles on my page were borked; This was because my id's were replaced with dummy functions.

I did however save my elm-stuff from that bad state.

I've had to disable Elmjutsu; though I wasn't having this problem before.

Also running elm-format, elm-oracle and

[2017-09-13 00:26] halohalospecial commented on #91
@amitaibu, I'll add it to the "Performance Tuning" section.  Thanks for the suggestion!

[2017-09-13 00:36] halohalospecial commented on #86
Hi @robjac, it's recommended to uncheck `Enable autocomplete` of [language-elm](https://atom.io/packages/language-elm).  Also, no need to use `elm-oracle` since Elmjutsu has its own parser :smile_cat:  Let me know if you have leads on what's causing this. Thanks!

[2017-09-18 10:17] halohalospecial commented on #76
@Positive07, FWIW, I removed `better-queue` and used [`atom-linter`](https://www.npmjs.com/package/atom-linter)'s `uniqueKey` property instead.

[2017-09-19 03:59] halohalospecial commented on #91
@amitaibu, Elmjutsu will offer to disable `language-elm`'s autocomplete in the next version :smile_cat:

![disable-autocomplete](https://user-images.githubusercontent.com/2138906/30575199-bdffe61c-9d31-11e7-8fd5-509452a95e36.png)

[2017-09-19 05:43] amitaibu commented on #91
Nice one! 😄

[2017-09-19 14:46] haasDev opened #92 "autocomplete suggestions very slow"
autocomplete suggestions are currently taking between 10 and 15 seconds before it brings things up.  This happens even in a very small project. Here is a gist of the project.

https://gist.github.com/anonymous/631271faa044727deccdbfc3c8f92817

I am not sure what I can provide you to get what is needed to solve this issue but let me know and I'll be sure to provide it.  Thanks!

[2017-09-19 15:03] halohalospecial commented on #92
@haasDev, here are things you can try to improve performance: https://github.com/halohalospecial/atom-elmjutsu#autocomplete-performance-tuning

Or you can try disabling features one by one until you find out which one is slow :D

[2017-09-20 00:44] haasDev commented on #92
disabling autocomplete in language-elm did it!  Thanks!

[2017-09-20 00:44] #92 closed

[2017-09-20 12:20] halohalospecial commented on #92
Oh, I see.  Thanks for that info!  In the next version, Elmjutsu will offer to disable autocomplete of `language-elm`.

[2017-09-25 01:35] mbylstra commented on #86
As far as I can tell, the idea of forcing elm-make to generate errors by altering the source code is fundamentally incompatible with using a build tool that watches for changes in the file.

It's probably difficult to reproduce as Elmjutsu likely usually manages to replace the source code back with the working version by the time the build tool gets to the file. If you have a fast enough computer,

[2017-09-25 03:33] halohalospecial commented on #86
Thanks for the great insights, @mbylstra!  I'll mention the issue in the readme for now.  Thanks!

[2017-09-26 01:09] earthrid commented on #74
Hi, I had the same problem (under Atom 1.20.1 and 1.21.0-beta, elmjutsu 6.0.0) and with the help of this page + the Atom debugging docs I finally got it. :)

Here's the recipe that worked for me (there's nothing new here, but the sequence might help some other confused person who finds this page).

1) Is there red bug icon in the bottom right of any Atom window? This is the incompatible package in

[2017-10-03 22:24] karljs opened #93 "Respect indentation preference in snippets"
I don't know if this is a limitation of Atom or not, but it would be great if the snippets you provide respected the indentation preferences set globally in Atom.  For instance, if I choose 2 space indentation in my own personal settings, the Elmjutsu snippets will still indent using 4 spaces.

[2017-10-03 23:57] halohalospecial commented on #93
Hi @karljs, Elmjutsu is following elm-format's convention of 4 spaces :slightly_smiling_face:

[2017-10-04 00:07] halohalospecial commented on #93
It shouldn't be hard to get the indentation setting from Atom, though :slightly_smiling_face:  I'll see if I can add that to the next release.  Thanks!

[2017-10-04 12:14] halohalospecial commented on #93
Looks like the default number of indentation spaces for the Elm grammar is `2`.  If we get the value from the settings, we'll not be following `elm-format`'s convention.  Not sure if `language-elm` can change the default to `4`.

[2017-10-04 14:44] OvermindDL1 commented on #93
elm-format would reformat it anyway.  Whatever atom uses should match the formatter.

[2017-10-04 16:24] karljs commented on #93
I didn't realize `elm-format`specified 4 spaces.  I come mostly from Haskell where 2 spaces seems much more common, but maybe I should try to adjust.  Anyway, thanks for looking in to this and the feedback.

[2017-10-12 15:14] KurtRMueller opened #94 "Can't seem to get elmjutsu to work."
Hey all,

I followed (I think) the readme and installed Elmjutsu's necessary dependencies and went into Elmjutsu's settings to make sure everything was turned on. However, I can't seem to get anything to work. How should I go about diagnosing this problem? I made sure I was updated to the latest version of Atom and even restarted it just for good measure... still no dice though.

Thanks for any an

[2017-10-12 22:19] halohalospecial commented on #94
Hi @KurtRMueller, you can try running Atom in dev mode (`atom -d`) and check Developer Tools console for error messages.

[2017-10-21 23:48] halohalospecial commented on #90
Hi @xorsnn, this worked for me:

`echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p`

[2017-11-02 09:36] raffomania opened #96 "elmjutsu seems to stop looking for elm-package.json at Main.elm folder"
My elm files live in a subfolder of my project:
[code]
elmjutsu is, after updating to 7.0.5, no longer able to find elm-package.json. I'm not sure why, as elm-package.json is definitely in my atom project root.

I have the same problem with `atom-linter-elm-make`; When telling it to generate `elm-package.json` for me, it creates a new one in the `client` folder, so I suppose both blugins might sto

[2017-11-02 09:56] raffomania commented on #96
Repo in question: https://github.com/Nukesor/spacesurvival

[2017-11-02 10:06] raffomania commented on #96
I had a look at the code, the offending line seems to be https://github.com/halohalospecial/atom-elmjutsu/blob/b9727c27485633d3c2dda8a6819689d28f670d24/lib/helper.js#L614

making elmjutsu always stop searching one folder beneath the project root, as `parentDirectory` does not contain a trailing path separator, in comparison to the second argument. A quick fix would be removing the `path.sep` addit

[2017-11-02 10:38] timjs commented on #96
I have the same problem but reverting to 7.0.2 (which I had installed before) doesn't help. Maybe it is regression in Atom's core from 1.21.1 to 1.21.2? I updated it at the same time.

[2017-11-02 10:48] saturday06 commented on #96
@timjs downgrading elmjutsu and linter-elm-make works for me.
[code]

[2017-11-02 10:53] timjs commented on #96
Works too for me!

[2017-11-02 10:57] halohalospecial commented on #96
Sorry, was busy earlier.  I'll publish a fix in a few minutes.

[2017-11-02 11:00] #96 closed

[2017-11-02 11:03] halohalospecial commented on #96
Hi!  Can you try elmjutsu v7.0.6 and linter-elm-make v0.27.1?  Thanks!

[2017-11-02 11:08] saturday06 commented on #96
Both updates work fine for me. Thanks!

[2017-11-02 11:13] raffomania commented on #96
Works for me too, thanks for the incredibly fast response!

[2017-11-02 11:15] halohalospecial commented on #96
@raffomania, thanks for providing a sample repo!  It was working on my setup :)

[2017-11-02 12:04] timjs commented on #96
Works great! Thanks a lot!

[2017-11-03 10:29] rupertlssmith opened #97 "Auto-complete blocks return key."
![auto-complete-problem](https://user-images.githubusercontent.com/5537079/32369573-8bcdbffc-c081-11e7-822e-4c120344e8a7.png)

The above image shows me typing and at the end of the line I just typed a '='. Auto-select comes up, but I just want to hit the return key and move to the next line, and accept the '=' character as my auto-select choice. Unfortunately the return key is blocked by the auto

[2017-11-03 12:11] halohalospecial commented on #97
Hi, @rupertlssmith!

It was working like this before:

.. but a change in the `autocomplete-plus` package some versions ago disabled the workaround (see also #5).

In the meantime, you can change the value of `Autocomplete Min Chars` in the Settings view to `2`.  I'm still looking for a proper way to solve this issue.

Thanks!

[2017-11-03 16:33] rupertlssmith commented on #97
Thanks for the work-around, I'll try that.

[2017-11-04 01:15] halohalospecial commented on #97
@rupertlssmith, this should be fixed in the latest version (v7.1.0) :)

[2017-11-04 01:15] #97 closed

[2017-11-04 01:16] #93 closed

[2017-11-04 20:38] zwilias opened #98 "Generated decoders"
Follow up from Slack discussion.

Generating decoders is wicked cool!

The one for tuples is a little weird, though - it's a little more idiomatic to use `Decode.map3 (,,)
 (Decode.index 0 ..) (Decode.index 1 ..) (Decode.index 2 ..)` rather than a series of nested `andThen`'s.

I also mentioned something about `andMap`, but I've thought about this a little more and think is may be a bad idea. Enco

[2017-11-05 01:48] #98 closed

[2017-11-05 03:02] halohalospecial commented on #98
Thanks, @zwilias!

[2017-11-05 10:05] zwilias commented on #98
@halohalospecial Hm, you do need the `index` thing, still ;)

[2017-11-05 16:35] halohalospecial commented on #98
Nice catch!  Thanks again!

[2017-11-05 22:15] anagrius commented on #86
@halohalospecial This issue hits me many time a day. It is quite frustrating since it always occurs in string, and the string will be allowed to compile. I am guessing the "type bombs" don't work inside strings because they are actually valid strings.

The problem for me is that the compiler just passes the modified strings through and I am pulling my hair out because something doesn't work when i

[2017-11-07 04:36] halohalospecial commented on #86
Hi @anagrius, I'm experimenting with something that should lessen the occurrence of this (I hope) :crossed_fingers:

[2017-11-07 06:26] halohalospecial commented on #86
Hi all!  Can you check out v7.1.5?  Thanks!

[2017-11-07 09:39] anagrius commented on #86
@halohalospecial Will check it out! Here is the latest victime: :)

<img width="546" alt="screen shot 2017-11-07 at 10 38 38" src="https://user-images.githubusercontent.com/157210/32486757-f260503a-c3a7-11e7-9a40-6e6263702dfd.png">

[2017-11-07 13:44] #91 closed

[2017-11-07 17:27] OvermindDL1 commented on #86
You cleaned and rebuilt all the generated source first @anagrius?

[2017-11-07 19:45] simonh1000 opened #99 "Can't copy from linter in MacOS"
In Linux I can do

 - alt-A and it inserts a type declaration automatically for me
 - copy infered types from the linter info and paste into my code

Neither are possible in MacOS. alt-a does not do anything, and copy pasting seems to add some weird hidden characters that the compiler then rejects

![screen shot 2017-11-07 at 20 01 20](https://user-images.githubusercontent.com/5256724/32512178-7f3

[2017-11-08 06:08] halohalospecial commented on #99
Hi @simonh1000, the feature is from linter-elm-make :smile: <kbd>alt-a</kbd> in Linux is for the `Diagnostics: Show Actions At Position` command (if you installed `nuclide` or `atom-ide-ui`).  I don't know what's the equivalent for MacOS.  You can try typing the command name in the command palette to check the keybinding for that.

[2017-11-08 07:18] simonh1000 commented on #99
I suspected i might end re-directed, but thanks so much for the comprehensive answer

[2017-11-08 07:18] #99 closed

[2017-11-08 14:07] xvw opened #100 "Uncaught Error: PCRE does not support \L, \l, \N{name}, \U, or \u"
[Enter steps to reproduce:]

1. Just after the installation of some NPM's packages (into an **Electron** project)

**Atom**: 1.23.0-beta0 x64
**Electron**: 1.6.15
**OS**: Mac OS X 10.12.6
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 7.1.5

### Stack Trace

Uncaught Error: PCRE does not support \L, \l, \N{name}, \U, or \u

[code]

### Commands

[code]

### N

[2017-11-08 22:43] halohalospecial commented on #100
Hi!  A change in 1.23 broke token detection.  For some reason, it's not allowing some unicode characters in the regular expression.

[code]
https://github.com/halohalospecial/atom-elmjutsu/blob/master/lib/unicode-helper.js

You can either comment out `unicodeHelper.letters()` in `~/.atom/packages/elmjutsu/lib/helper.js` (where `~/.atom` is Atom's root directory) or use 1.22 in the meantime.

[2017-11-09 08:10] xvw commented on #100
Thanks ! It is work now.
Should I close the issue or let it ?

[2017-11-09 14:17] brasilikum opened #101 "Feature Idea: "Tighten" Imports"
First I want to thank all contributors, this package really makes elm so pleasant to develop!

I had the idea to introduce a feature where you can with one command remove unused imports and convert (..) to the concrete things actually imported from each package.

Motivation: During development, I prefer to import (..) for less hassle, but as soon as someone else has to read the code, clear imports

[2017-11-10 04:35] halohalospecial commented on #100
Hi, let's leave it open since it still needs to be resolved for Atom 1.23.

[2017-11-10 04:38] halohalospecial commented on #101
Hi @brasilikum, these are great ideas.  For removing unused imports, you can use `elm-analyse` for now :)

[2017-11-11 11:27] anagrius opened #102 "Uncought SyntaxError"
[code]

[2017-11-11 22:42] halohalospecial commented on #102
Hi!  Do you have a way to reproduce this?  Also, what's your Atom version?

[2017-11-13 21:24] brasilikum opened #103 "Feature Idea: Keep sorting of type definition in sync with case statements"
Often I find myself sorting bigger type definitions (Msg or Page) in order to group them by similarity.
It would be cool if the case statements could default to the same sorting.
I am aware that case statements can have a different structure because of "sub matches".

Meta: Is GitHub the right place to propose these ideas? @halohalospecial I did not find you in the elm-slack.

[2017-11-13 22:39] halohalospecial commented on #103
Hi!  I'm assuming you're talking about autocomplete for case expressions?  It will follow the order the type cases were defined.

For example,
[code]
will result to
[code]
So you can sort at the type definition point instead.

Meta:  Yep, just submit ideas to this repo so I can keep track of them (and for discussions).  You can also leave messages in the Elm Slack (same username).

[2017-11-14 02:13] brasilikum commented on #103
Hi,

yes I am, but there is currently no way to keep them synced if you add something, or did I miss that?
Not a killer feature, which might show that this package is already pretty awesome :)

I have seen there is some elm in this package, but it does not seem like much. Are most features implemented in JS? What would be good ways to contribute?

[2017-11-14 06:59] halohalospecial commented on #103
Hi, the core is in Elm (https://github.com/halohalospecial/atom-elmjutsu/blob/master/elm/Indexer.elm) and JS is for integration with the Atom API.

[2017-11-15 07:13] cjduncana opened #104 "Whenever I say a file, a bunch of errors are thrown"
[Enter steps to reproduce:]

Save an Elm file

**Atom**: 1.22.0 x64
**Electron**: 1.6.15
**OS**: Mac OS X 10.11.6
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 7.1.5

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, open '/Users/cjduncana/Development/three-words/tests/elm-stuff/packages/mgold-elm-random-pcg-fac8585/src/Random/Pcg.elm'

[co

[2017-11-16 13:51] amitaibu commented on #18
I've just updated to `7.1.5` and I experience this error whenever I open my project in a subdirectory (i.e. the `elm-package.json` is not present in the project).

If it's included, elmjitsu seems to work fine.

[2017-11-16 14:19] halohalospecial commented on #18
How does the directory structure look like?

[2017-11-16 14:24] amitaibu commented on #18
[code]

[2017-11-16 15:05] halohalospecial commented on #18
The `elm` directory is the Atom project?  Can you try opening `client` as the Atom project instead?

[2017-11-16 15:54] amitaibu commented on #18
Yes, if I open the `client` it works ok -- but up until the recent update (it was `7.1.2` if I'm not mistaken) it worked also by opening the `elm` directory.

[2017-11-16 16:19] halohalospecial commented on #18
Yeah, sorry, it was to prevent it from going beyond the project directory when an `elm-package.json` doesn't exist.  (See https://github.com/halohalospecial/atom-elmjutsu/issues/24.)  Maybe there's a better way?

[2017-11-16 17:41] amitaibu commented on #18
Just to clarify -- it seems #24 was solved long time ago (and it worked fine until my update today)

[2017-11-17 04:45] halohalospecial commented on #18
Hmm.. maybe better to revert to the old behavior :)  I'll include the fix in the next release.  Thanks!

[2017-11-20 22:18] halohalospecial commented on #86
Hi everyone, do you think this issue is already resolved?

[2017-11-20 22:22] anagrius commented on #86
I would say so. I have not had an issue since! 🎉

[2017-11-20 22:32] halohalospecial commented on #86
Nice!  Feel free to reopen this issue if ever :)

[2017-11-20 22:32] #86 closed

[2017-11-20 22:34] robjac commented on #86
All good on my side. Thank you all for following up. My bad for taking a
while.

Cheers!

On Mon, Nov 20, 2017 at 5:32 PM halohalospecial <notifications@github.com>
wrote:

--
Robbie Jacobs

[2017-11-22 12:19] LukaHorvat commented on #100
Any news on this? The a ton of features don't seem to work if I comment out that line.

[2017-11-22 23:50] halohalospecial commented on #100
Hi @LukaHorvat, which features didn't work when you commented out the line?

[2017-11-23 10:45] LukaHorvat commented on #100
Well, autocomplete for starters.

[2017-11-23 11:04] anagrius opened #105 "Request to Speed up `doUpdateFileContents`"
Hello Halo,

I am having performance issues when navigating around my Elm files. The reason looks to be `doUpdateFileContents` in the Indexer. I know it needs to do some work to collect type info etc.
But it seems to trigger a bit too optimistically and on big projects I often get 700ms-2000ms hanging UI.

Are you traversing files too often even when the underlying file set has not changed? Do we

[2017-11-25 00:19] halohalospecial commented on #100
Hi all!  Sorry, forgot to mention that you should replace the commented line.  The latest version (v7.1.6) has a workaround for this.  The only caveat is that it will not work for other Unicode characters anymore if the Atom version is 1.23.0 or higher.

[2017-11-25 04:31] halohalospecial commented on #105
Hi @anagrius, thanks for the dump!  I created a new branch (https://github.com/halohalospecial/atom-elmjutsu/tree/perf) that I'll update from time to time.  Can you try that branch out and check if it alleviates the issue?  Thanks!

[2017-11-26 18:23] anagrius commented on #105
Super, I have installed the branch. I will have to see over the coming days if it has improved. My measurement will be my gut feeling. I don't know any other easy way to give you feedback :)

[2017-11-26 23:05] halohalospecial commented on #105
Thanks!

[2017-11-28 11:28] anagrius commented on #105
So, I have been testing it a lot. Seems a lot better (mind you, it might just be placebo!)

Anyway, I did encounter some performance problems again, but they seem to come from other functions. I have provided another timeline dump. Let me know if they are not useful or I need to provide more information in them like memory usage.

[TimelineRawData-20171128T122102.json.zip](https://github.com/haloh

[2017-12-04 15:39] joshhornby opened #106 "Auto complete for nested constructors"
Hi, auto completion currently works for single level types, see `Foo` below. But autocomplete for `Baz` wouldn't work in the following example

[code]

Are there plans for this feature?

Thanks for this great plugin :)

[2017-12-06 06:03] halohalospecial commented on #106
Hi @joshhornby, that requires more involved parsing.  Right now, only top-level functions are parsed.  Might be better to include that in the plans for the [Elm Language Server](https://github.com/hakonrossebo/elm-language-server-requirements-specification) instead since it will require major rearchitecting :smile:

[2018-01-05 22:13] AsaAyers opened #107 "Uncaught Error: EISDIR: illegal operation on a directory, read"
I updated Atom and elmjutsu today. Before filing this issue I disabled all non-core packages.

[Enter steps to reproduce:]

1. Open an elm file.

**Atom**: 1.23.2 x64
**Electron**: 1.6.15
**OS**: Ubuntu 16.04.3
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 7.2.2

### Stack Trace

Uncaught Error: EISDIR: illegal operation on a directory, read

[code]

### Com

[2018-01-08 20:14] n1k0 commented on #107
Same here with:

**Atom**: 1.24.0-beta1 x64
**Electron**: 1.6.15
**OS**: "Fedora release
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 7.2.2

### Commands

[code]

### Non-Core Packages

[code]

[2018-01-08 21:48] AsaAyers commented on #107
I'm still on the same version of Atom and the same version of elmjutsu as Friday, but when I re-enabled it today I can't reproduce this error.

@n1k0 Are you sure you're getting the same error? You didn't include a stack trace and yours involves a command.

[2018-01-09 08:15] n1k0 commented on #107
This is the stack trace I got this morning just after starting Atom:

[code]

[2018-01-12 09:05] n1k0 commented on #107
Updated Atom to 1.24.0-beta3 and I'm still getting this error on startup, this time with no specific command involved:

**Atom**: 1.24.0-beta3 x64
**Electron**: 1.6.15
**OS**: "Fedora release
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 7.2.2

### Stack Trace

Uncaught Error: EISDIR: illegal operation on a directory, read

[code]

### Commands

[code]

###

[2018-01-13 02:59] #107 closed

[2018-02-14 04:38] ssbb opened #109 "EMFILE errors on MacOs"
Hi! Great work on this and I want to try Atom only because of this package 👍

But I am unable to use because of annoying EMFILE errors.

<img width="553" alt="screen shot 2018-02-14 at 7 28 12 am" src="https://user-images.githubusercontent.com/3309586/36187855-2ba8e36c-1159-11e8-82ff-ee0cc4979b20.png">

atom version:
[code]

elm version:
[code]

limit of open files is set to 64k:
[code]

number of

[2018-02-14 16:53] OvermindDL1 commented on #109
That's a common bug on Mac's Sierra and higher, which I'm guessing yours is?

Have you already increased your user's max open file limit (mac's default to painfully low amounts I hear)?

[2018-02-14 16:54] ssbb commented on #109
Yeah, increased to 64k as you can see in my original message

[2018-02-14 16:55] OvermindDL1 commented on #109
64k still might not be enough depending on the size of your entire workspace directory...  ^.^;

How many files does it contain in full?

[2018-02-14 16:58] ssbb commented on #109
There is 30625 files total in directory. But this error appears at start of scanning - I am tried to watch how many files open by atom and was about 240 only.

[2018-02-14 17:00] ssbb commented on #109
240 really looks like file limit reach (256 is default, right?). but `ulimit -n` shows 64k.

[2018-02-14 17:15] OvermindDL1 commented on #109
What about `ulimit -a`?
Also what are the limit's of the overall system (`launchctl limit maxfiles` or something like that if it is the same command as on linux, maybe something like `sysctl kernel.maxfiles` or so)?
Also after updating the ulimit you restarted your profile and it retained it yes?

[2018-02-14 17:18] ssbb commented on #109
output for this commands:
[code]

Yeah, I set this limit about a week ago and restarted many times since then.

[2018-02-14 17:38] OvermindDL1 commented on #109
Hmm if it's still set to 256 somewhere then I'm not sure how mac's set it, I don't use them...  ^.^;

Interestingly your `ulimit -a` is *significantly* shorter than a linux one, hmm...

[2018-02-14 17:40] ssbb commented on #109
I am sure I have no problems with user/system file limit since I am using Wrk actively and it depends on file limit also. there is no problems after changing file limit to 64k.

[2018-02-25 14:09] mewhit opened #110 "Uncaught SyntaxError: Invalid regular expression: /*/: Nothing to repeat"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.24.0 x64
**Electron**: 1.6.16
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 7.2.2

### Stack Trace

Uncaught SyntaxError: Invalid regular expression: /*/: Nothing to repeat

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-03-05 02:28] addicteduser opened #111 "Uncaught Error: ENOENT: no such file or directory, open '~/Dev/ai-pros/user-web-service/assets/el..."
Error pops up on start-up of the Atom editor when an elm file is already opened.

**Atom**: 1.24.0 x64
**Electron**: 1.6.16
**OS**: Ubuntu 17.10
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 7.2.2

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, open '/home/tintin/Dev/ai-pros/user-web-service/assets/elm/elm-stuff/generated-code/elm-commun

[2018-03-05 10:18] n1k0 commented on #107
Still getting this error with latest stable Elmjutsu:

**Atom**: 1.23.3 x64
**Electron**: 1.6.15
**OS**: Ubuntu 17.10
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 7.2.2

### Stack Trace

Uncaught Error: EISDIR: illegal operation on a directory, read

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-03-06 13:32] nasyxx opened #112 "Uncaught Error: ENOENT: no such file or directory, open '~/xxxx/.#a.html'"
**In fact, this file is a temporary file, generating by emacs org-mode, probably only existed a few seconds. I think, maybe an ignore file list can solve it. **

Although it has little effect, I still hope it can be solved.

**Atom**: 1.24.0 x64
**Electron**: 1.6.16
**OS**: Mac OS X 10.13.3
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 7.2.2

### Stack Trace

[2018-03-13 22:10] bowbahdoe opened #113 "Depreciation warning on latest Atom"
When using Elmjutsu on the newest atom I get this warning
`Assigning custom properties to a marker when creating/copying it is deprecated. Please, consider storing the custom properties you need in some other object in your package, keyed by the marker's id property.
`

[2018-03-19 18:24] kaskelotti opened #114 "Uncaught TypeError: Cannot read property '1' of null"
[Enter steps to reproduce:]

1. Create an Elm source file that starts with multiline comment block `{- -}`
2. Use arrow keys to navigate back and forth the comment block

Using single line comments `--` works fine. Also, making any kind of syntax error on the source file seems to trigger this error.

**Atom**: 1.25.0 ia32
**Electron**: 1.7.11
**OS**: Microsoft Windows 10 Enterprise
**Thrown From**

[2018-03-19 18:28] kaskelotti commented on #88
There has been a bunch of updates to Atom, Electron framework and elmjutsu since this was created. Since it hasn't been reproducible, I vote for closing the issue.

[2018-03-19 18:30] kaskelotti commented on #112
Seems to be a duplicate to https://github.com/halohalospecial/atom-elmjutsu/issues/111

[2018-03-20 00:42] SidneyNemzer commented on #114
I'm also getting this error. Just started happening today. I've used elmjutsu in this project for a week and I haven't run into this. Possible related to the recent update to atom-ide-ui? That's the only change in my dev environment I can think of.

That seems to be part of the cause. The multiline / single comment at top of the file... that would be a syntax error, right? Because the compiler is

[2018-03-21 07:58] nasyxx commented on #112
Sorry... I missed it.

[2018-03-21 07:58] #112 closed

[2018-03-27 01:55] halohalospecial commented on #114
@kaskelotti, @SidneyNemzer, I could not replicate it :( Can you give me sample code? Thanks!

[2018-03-27 02:48] halohalospecial commented on #111
@addicteduser, can you try v7.2.4? Thanks!

[2018-03-27 02:48] halohalospecial commented on #104
@cjduncana, can you try v7.2.4?  Thanks!

[2018-03-27 02:54] #88 closed

[2018-03-27 18:15] kaskelotti commented on #114
Neither could I. I made a brand new elm file for this, but could not reproduce. My project file had this issue, but I cannot share that openly. After the latest elmjutsu update to version 7.2.6 the issues seems to be fixed.

I'll close this issue.

[2018-03-27 18:15] #114 closed

[2018-04-06 13:20] smucode opened #115 "Performance issues"
I've had issues with atom performance working with elm for a while. Atom is just really slow, especially when switching tabs for instance. I tried to capture a performance log when switching tabs, and it seems like it's got to do with elmjutsu.

<img width="924" alt="screen shot 2018-04-06 at 15 14 22" src="https://user-images.githubusercontent.com/502358/38423231-9a6440c2-39ad-11e8-9b42-ae1fcc38a

[2018-04-06 15:57] halohalospecial commented on #115
Hi @smucode, can you give me your Elmjutsu settings?

[2018-04-06 21:03] smucode commented on #115
I have disabled everything but hyperclick.

[2018-04-06 23:07] halohalospecial commented on #115
Have you tried it with just Elmjutsu installed?  (You can rename `~/.atom`, then restart Atom.)
Also, do you have lots of .elm files in the project or huge .elm files?

[2018-04-07 09:28] smucode commented on #115
I still experience the problem with only elmjutsu, language-elm and atom-ide-ui. When i cmd+click a around, atom freezes and the profiles seems to indicate it's the indexer.

<img width="829" alt="screen shot 2018-04-07 at 11 23 40" src="https://user-images.githubusercontent.com/502358/38453462-9062cf18-3a56-11e8-87e8-8db9e80e141d.png">

With dependencies we have about 3.6k elm files.

[2018-04-07 23:00] halohalospecial commented on #115
How many files do you have in your project (without dependencies)?  Was switching tabs still slow with just those packages installed?

[2018-04-08 15:10] smucode commented on #115
About 200 files without dependencies. I haven't experienced slow tab switching, no. I'll update if I experience it again.

[2018-04-08 16:43] halohalospecial commented on #115
Thanks!

As for Hyperclick/Go To Definition, there are cases where it will be slow (related to record fields, IIRC).  I'll look at it again when I have time :D

[2018-04-11 09:39] smucode commented on #115
Yeah, i'm having all the same issues. Might be related to some other elm atom plugin i'm using (elm-format, elm-lens, linter-elm-make). Seems to be fairly OK when I restart atom, but after some use I notice ~3-5 second delays switching tabs, navigating the cursor around using the keyboard, selecting lines using the keyboard, and just general usage. The performance profiler always seems to be hinti

[2018-04-11 09:48] halohalospecial commented on #115
If it's not much of a hassle, can you give a screen capture (like a gif or video)?  There might something that's not obvious.  You can also send me a direct message on Elm Slack (same username).  Thanks!

[2018-04-15 06:31] halohalospecial commented on #115
As discussed on Slack, this is related to the Hyperclick support.  The workaround is to uncheck `Enable Hyperclick` for now.  A fix will be available in the next release.

[2018-04-16 01:04] halohalospecial commented on #115
This should be fixed in the latest version (v.8.0.0).  Thanks to @smucode for the help in debugging!

[2018-04-16 01:04] #115 closed

[2018-04-17 15:35] absynce opened #117 "Uncaught TypeError: Cannot read property 'filePath' of null"
### Steps to reproduce:

1. Run "Elmjutsu: Add Import"
2. Error and empty dialog with "Loading..." display

![image](https://user-images.githubusercontent.com/289969/38880282-ed837716-422a-11e8-87a0-e76940e96da0.png)

**Atom**: 1.25.1 ia32
**Electron**: 1.7.11
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 8.1.0

### Stack Tra

[2018-04-17 15:46] absynce commented on #117
This went away when I updated `atom-ide-ui` from `0.9.4` to `0.10.1`.

[2018-04-17 15:46] #117 closed

[2018-05-01 17:20] dbj opened #118 "use of teletype broken when elmjutsu is enabled"
I'm running teletype 0.13.1, Atom 1.26.1, and elmjutsu 8.1.0. When I share a teletype session with another Atom user, and I bring up an Elm file for editing, the user's Atom editor freezes, though mine does not. If we edit other types of files, such as JS files, no problem, but as soon as we bring up an Elm file... freeze on the user's side.

This does not occur when I turn off elmjutsu. I have tr

[2018-05-04 22:54] halohalospecial commented on #118
Can you check if there are errors in the console?  Also, are you getting a "Failed to join portal" notification?

[2018-05-05 00:09] halohalospecial commented on #118
Hi @dbj, can you check if the latest version (v8.1.1) works for you?  Thanks!

[2018-05-07 16:57] dbj commented on #118
That fixed it!  Thanks. 😄

[2018-05-07 16:57] #118 closed

[2018-05-07 20:56] SidneyNemzer opened #119 "Atom Freezes when typing a space after a set of curly braces"
## MCVE

1. Create a new Elm file, for example `Test.elm`.
2. Inside the the file, write the following:

[code]
Upon typing the \<space\>, Atom freezes.

`a` is arbitrary -- it's the name of a declaration in this context, but the freeze occurs with any name as far as I can tell. Adding keys to the record is possible, but Atom still freezes after typing the space after the destructuring.

The curly

[2018-05-07 22:39] SidneyNemzer commented on #119
Update: this also occurs with tuples:

`a ()<space>` causes a freeze

[2018-05-07 22:45] halohalospecial commented on #119
@SidneyNemzer, this is indeed a bug.  You can uncheck `Enable Signature Help` in the meantime if you keep on running into this.  I'm checking it right now.  Thanks!

[2018-05-07 22:57] #119 closed

[2018-05-07 22:58] halohalospecial commented on #119
@SidneyNemzer, can you try the latest version (v8.1.3) with `Enable Signature Help` checked?  Thanks!

[2018-05-07 23:25] SidneyNemzer commented on #119
I also found that parentises that don't denote a tuple still cause a freeze:

[code]

[2018-05-08 00:59] halohalospecial commented on #119
@SidneyNemzer, how about now?

[2018-05-08 01:04] SidneyNemzer commented on #119
Seems to be fixed now. Thanks for the quick responses!

[2018-05-08 01:10] halohalospecial commented on #119
Thank you too!

[2018-05-08 08:32] mm-tfx commented on #43
I have noticed this new Deprecation message:

Assigning custom properties to a marker when creating/copying it is deprecated. Please, consider storing the custom properties you need in some other object in your package, keyed by the marker's id property.

Function.extractParams - <embedded>:77541:20
MarkerLayer.markRange - <embedded>:78187:77
DisplayMarkerLayer.markBufferRange - <embedded>:134819:

[2018-05-08 08:33] mm-tfx commented on #113
Seems like I have found the same issue.

[2018-05-09 11:41] halohalospecial commented on #105
@anagrius, have you tried the latest version?  This issue might have been solved already :)

[2018-05-09 11:43] #52 closed

[2018-05-09 11:44] halohalospecial commented on #4
@OvermindDL1, this is available in https://atom.io/packages/elm-lens :slightly_smiling_face:

[2018-05-09 11:44] #4 closed

[2018-05-09 12:25] #111 closed

[2018-06-26 13:17] CharlonTank opened #121 "Uncaught Error: Trying to send an unexpected type of value through port `projectDependenciesChang..."
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.28.0 x64
**Electron**: 2.0.3
**OS**: Mac OS X 10.13.5
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 8.2.0

### Stack Trace

Uncaught Error: Trying to send an unexpected type of value through port `projectDependenciesChangedSub`:
Expecting a String at _[1][1][1] but instead got: {"elm/parser":"1.0.0","el

[2018-07-08 18:05] tohnk opened #122 "Uncaught Error: EPERM: operation not permitted, scandir '~/AppData\Local\Microsoft\Windows\INetCa..."
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.28.1 x64
**Electron**: 2.0.4
**OS**: Microsoft Windows 10 Home
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 8.2.0

### Stack Trace

Uncaught Error: EPERM: operation not permitted, scandir 'C:\Users\Amanda\AppData\Local\Microsoft\Windows\INetCache\Content.IE5'

[code]

### Commands

[code]

### Non-Core

[2018-07-09 04:44] halohalospecial commented on #122
Hi! Are you perhaps missing an `elm-package.json` file?

[2018-07-09 15:56] halohalospecial commented on #121
Hi!  Do you have a way to reproduce this?  Thanks!

[2018-08-02 09:06] MethodGrab commented on #121
I get this error when first loading an Elm 0.19 project.

[2018-08-06 04:17] #121 closed

[2018-08-26 14:37] fredericcormier opened #123 "Uncaught SyntaxError: Unexpected token / in JSON at position 0"
[Enter steps to reproduce:]

1. save elm file
2. ...

**Atom**: 1.29.0 x64
**Electron**: 2.0.5
**OS**: Mac OS X 10.12.6
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 8.3.2

### Stack Trace

Uncaught SyntaxError: Unexpected token / in JSON at position 0

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-08-28 12:10] MethodGrab commented on #123
This seems to happen in 0.19 projects when it can't find the `elm` binary (either because you don't have it installed globally or haven't specified its path in Elmjutsu's settings).

[2018-08-28 12:58] amitaibu commented on #123
It happens also on 0.18.0 -- and seems to also create an `elm-package.json` in every directory we save a file.

[2018-08-28 13:11] halohalospecial commented on #123
@amitaibu have you tried setting "Run elm make" to "never"?

[2018-08-28 13:25] amitaibu commented on #123
Indeed with `Run elm make` I no longer get those `elm-package.json` (however, up until now I had that set as `On save`, so I guess something has changed)

[2018-08-28 13:39] halohalospecial commented on #123
Sorry about that.  Elmjutsu now works with Elm 0.19 by default.

There's more information here:
https://github.com/halohalospecial/atom-elmjutsu#error-highlighting

[2018-08-28 13:50] amitaibu commented on #123
Thanks @halohalospecial - you always respond so quickly! Much appreciated :)

[2018-08-28 19:42] dbj opened #124 "Uncaught SyntaxError: Unexpected token e in JSON at position 0"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.30.0 x64
**Electron**: 2.0.5
**OS**: Mac OS X 10.13.6
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 8.3.2

### Stack Trace

Uncaught SyntaxError: Unexpected token e in JSON at position 0

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-08-30 09:44] mm-tfx opened #125 "Datatips not available and autocomplete does not seem to work"
Hi,

Some of these great features offered by elmjutsu unfortunately stopped working for me.
I cannot get Datatips, autocomplete works for my function but does not work for Elm packages functions.

Either I am doing something incorrect or there is something around Elm version.
I am using Atom on Windows 10 and I am still on Elm 0.18

Please help troubleshooting.

Thanks.

[2018-08-30 14:04] halohalospecial commented on #125
Hi, can I see the `elmjutsu` section of your `~/.atom/config.cson`, (where `~/.atom` is the Atom directory)?

[2018-08-30 14:34] halohalospecial commented on #123
@fredericcormier, @MethodGrab is correct.  Please check the value of `Elm Path` in the Settings view.  I'll show a notification popup in the next version.  Thanks!

[2018-08-30 14:36] halohalospecial commented on #124
Hi @dbj, kindly check #123.

[2018-08-30 14:36] #124 closed

[2018-08-31 06:46] mm-tfx commented on #125
[code]

I would like to mention that I am testing elm-jutsu witm Elm 0.19 and it works (really good.)

[2018-08-31 23:52] halohalospecial commented on #125
Hi @mm-tfx, I couldn't reproduce the issue :(  Can you perhaps provide a screen recording?  I might be missing something.

[2018-09-01 02:06] halohalospecial opened #126 "Feature Request: Rename record fields"

[2018-09-01 02:07] halohalospecial opened #127 "Feature Request: Quick Fixes"
See https://github.com/mybuddymichael/linter-elm-make#linter-elm-make-quick-fix

[2018-09-01 09:35] halohalospecial commented on #127
Some quick fixes are already implemented in v8.4.0.

[2018-09-01 09:35] #127 closed

[2018-09-02 03:05] miyamoen commented on #125
Hi,

Autocomplete for dependencies packages does not work with `package` type `elm.json` , but it works well with `application` type `elm.json`.

With `application`
![](https://i.gyazo.com/c79b146c8be16474dba96ce6da921734.png)

With `package`
![](https://i.gyazo.com/002de246f5606e7a567fbb41c2278686.png)

I am using Atom on Windows 10 and on Elm 0.19 and elmjutsu 8.4.0

Thanks

[2018-09-02 05:28] halohalospecial commented on #125
Thanks for the tip, @miyamoen!  I'll fix it in the next release.

[2018-09-02 06:30] halohalospecial commented on #125
@miyamoen, can you try v8.5.0?  Thanks!

[2018-09-02 08:12] miyamoen commented on #125
@halohalospecial, thanks for your quick work!
I tried, it works well!

[2018-09-02 14:10] mm-tfx commented on #125
I am trying the latest version and so for it does not work for me with Elm 0.18
However something is changed. Now I can see which functions are refered to (this was not shown before).

I am not sure how can I help here in trouble shooting.
I am trying to type `Html.` and then I am waiting for proposals for autocomplete but nothing happens.

On the other computer with Windows 10, Elm 0.19 it works.

[2018-09-02 14:14] mm-tfx commented on #125
![image](https://user-images.githubusercontent.com/21039186/44956890-15139880-aecb-11e8-9dbd-166136567ffd.png)

This is a picture when it works like intended.

[2018-09-02 15:28] halohalospecial opened #128 "Fix `Install Package` and `Uninstall Package`"
These are broken since the Elm 0.19 release.

[2018-09-02 15:33] halohalospecial commented on #125
@mm-tfx, have you tried using Elm 0.18 in the other computer (where Elmjutsu works with Elm 0.19)?  There might be a configuration issue somewhere.

As for `Install Package` and `Uninstall Package`, I created an issue here: #128.  The structure of the JSON returned by http://package.elm-lang.org changed when Elm 0.19 was released.

[2018-09-02 17:40] mm-tfx commented on #125
I agree. There might be configuration issue. There are some other problems with having both Elm versions on Windows machine.

I think I will switch completely to Elm 0.19 very soon. I guess that would be the case for most of users.
With Elm 0.19 the tool works great so perhaps it is not worth to troubleshoot this further.

[2018-09-03 07:51] ababup1192 commented on #125
Hi

 Autocomplete for dependencies packages does not work in `tests` directory.

![2018-09-03 16 47 46](https://user-images.githubusercontent.com/1853727/44974047-7ace5600-af99-11e8-8264-d77963c716c2.png)

https://github.com/halohalospecial/atom-elmjutsu/issues/125#issuecomment-417901553

I use  Elm 0.19 and elmjutsu 8.5.0.

[2018-09-03 07:51] mm-tfx opened #129 "Error highlighting causes some issues."
I am not entirely sure how does this work but there is an issue with Error higlihting.
I have found this in my application but later on I tried to narrow down this to SSCCE.
So I copied the default code from Ellie app (button increment/decrement) and then I splitted the code into modules. `View.elm` containing `view` function. `Messages.elm` containing type `Msg`, `Update.elm` containing `update`

[2018-09-03 08:03] halohalospecial commented on #125
Hi @ababup1192, is it okay if you create a new issue for that for easier tracking?

[2018-09-03 08:25] ababup1192 opened #130 "Autocomplete does not seem to work under the tests directory."
Hi

Autocomplete for dependencies packages does not work in tests directory.

![2018-09-03 16 47 46](https://user-images.githubusercontent.com/1853727/44975744-31ccd080-af9e-11e8-84d5-40afce59f370.png)

elm.json
[code]

This is my [repository](https://github.com/ababup1192/elm-dev-env) for development.

I use Elm 0.19 and elmjutsu 8.5.0.

[2018-09-03 08:26] ababup1192 commented on #125
Hi @halohalospecial, OK, I create #130 .

[2018-09-03 08:27] halohalospecial commented on #125
Thanks, @ababup1192!  I'll check it later.

[2018-09-03 11:58] #130 closed

[2018-09-03 12:00] #123 closed

[2018-09-03 12:01] halohalospecial commented on #130
Hi @ababup1192, can you check v8.6.1?  Thanks for the screenshot and sample project!

[2018-09-03 14:42] ababup1192 commented on #130
Hi @halohalospecial, Thank you very much for updating!  Autocomplete has been effective successfully.

However, why continue to keep this error?

![2018-09-03 23 37 18](https://user-images.githubusercontent.com/1853727/44992578-973ab480-afd2-11e8-8fc2-6ba39b599b2f.png)

[2018-09-03 15:02] halohalospecial commented on #130
Hi @ababup1192, saving `Tests.elm` runs `elm make tests/Tests.elm` (the active file).  You can enable the `Always Compile Main` option so that Elmjutsu always runs `elm make src/Main.elm` instead.

https://github.com/halohalospecial/atom-elmjutsu#always-compile-main

[2018-09-03 17:41] ababup1192 commented on #130
Great! The error has been resolved!

[2018-09-03 18:54] ymtszw opened #131 "Feature request: integrate elm-test"
It would be really cool if elmjutsu integrate `elm-test`, especially, handling compilation results of files under `tests/`.

Currently, on-save compilation of elmjutsu (the feature migrated from [linter-elm-make]) cannot compile files under `tests/`, and showing an error like this:
![image](https://user-images.githubusercontent.com/4507126/44998348-c875ad80-afef-11e8-82fd-37a42428ce5f.png)
... whi

[2018-09-03 19:47] mm-tfx commented on #129
Hi. I have tried this new version in this simple example I made and in bigger application. Works perfectly.

Thanks a lot for quick response and for this great tool.

[2018-09-03 19:47] #129 closed

[2018-09-03 19:48] #125 closed

[2018-09-04 04:30] halohalospecial commented on #131
Hi @ymtszw, thanks for the great inputs!

Indeed, `elm-test` does not return Elm Make error messages in JSON format, only the test results.  We're currently blocked on that.  I'm not sure, but maybe it's better to have https://github.com/mbuscemi/elm-test-runner handle `elm-test`-related features?  Unless we can gain something from integrating them in Elmjutsu.

[2018-09-04 09:44] MethodGrab commented on #131
The `bad import: import Test` error can be easily fixed by moving `elm-explorations/test` from `test-dependencies` to `dependencies` in `elm.json`. After that, linting works fine in the tests.

Is it possible for elmjutsu to grab all the direct and indirect `test-dependencies` and internally add them to `dependencies` before running elm-make?

[2018-09-04 12:18] ymtszw commented on #131
@halohalospecial Separating responsibility sounds ok as long as elm-test-runner is active in 0.19, but it seems elm-test-runner also does not report compilation results in linter style is it? (Again it is understandable since elm-test cannot return `elm make` results in JSON)

@MethodGrab Thanks for the head up! That workaround is actually handy at least in `application` type project, since depend

[2018-09-04 12:34] halohalospecial commented on #131
@ymtszw, you can set more than one main path using `Elmjutsu: Set Main Paths` (separated by comma) :slightly_smiling_face:

For example, you can set it to `src/Main.elm, tests/Tests.elm`.

[2018-09-04 13:44] ymtszw commented on #131
@halohalospecial I thought I could live with that, but found an oddity, could make a new issue:

- (in Windows 10, Elmjutsu 8.6.2)
- When "always compile main" active, indirectly found errors (errors found in files that are not ones specified as "main paths") are not marked/shown inline (they ARE counted in the linter indicator in status bar). Like so:
![image](https://user-images.githubuserconten

[2018-09-08 12:08] halohalospecial commented on #131
@ymtszw, thanks a lot for reporting the issue!  I'm currently not using Elm and didn't realize that paths returned by `elm make` are sometimes absolute and sometimes relative.  Can you check out v8.6.3?  Thanks!

[2018-09-09 05:58] ymtszw commented on #131
@halohalospecial Thanks, the problem looks resolved ❤️

So, regarding to test file compilation in Elmjutsu, current solution could be:

1. Include `elm-explorations/test` in `dependencies` rather than `test-dependencies`. This allows Elmjutsu to compile test files with just `elm make` without help of `elm-test`
2. Activate `Always Compile Main` option and add test files and application's main path

[2018-09-16 09:38] ymtszw commented on #131
From slack: https://elmlang.slack.com/archives/C0SP19AMA/p1536980552000100

`elm-test make` is out in the current `elm-test@beta` for 0.19, which makes it possible to compile files in `tests/` as normal, automatically using `test-dependencies` in `elm.json` appropriately.

more info here: https://github.com/rtfeldman/node-test-runner/issues/284

So now editor plugins can compile Elm files under `t

[2018-09-19 15:57] ghivert opened #132 "Autocomplete without automating inserting of default arguments"
Hi!

Today, when autocompleting a function waiting for arguments, the autocomplete automatically inserts default arguments according to the function signature. But, in a lot of cases (when dealing with currying) I don't want them to be inserted. Moreover, if this behavior is specifically desired, there's the `Insert Default Arguments` features.

Is there any way to deactivate it?

[2018-09-22 21:37] halohalospecial commented on #132
Hi @ghivert, you can go to the [Settings view](https://flight-manual.atom.io/getting-started/sections/atom-basics/#settings-and-preferences) to disable that.

[2018-09-22 22:34] halohalospecial commented on #131
Hi @ymtszw, have you tried `elm-test make`?  I tried `elm-test make --report json`, but the output is not in JSON when there's an error.

[2018-09-22 22:38] halohalospecial commented on #131
Oh, you reported it already :smile_cat:

https://github.com/rtfeldman/node-test-runner/issues/293

[2018-09-24 08:51] ghivert commented on #132
To be honest, I can't find the option, neither in the Core Settings View nor the autocomplete-plus package settings... 🙁

[2018-09-24 09:55] halohalospecial commented on #132
It's an Elmjutsu setting :)

![elmjutsu-settings](https://user-images.githubusercontent.com/2138906/45946259-fe241a00-c022-11e8-9a99-535a947fd591.png)

[2018-10-05 23:40] rtfeldman commented on #131
FYI, this has been fixed in `master` - it now passes through `--report=json` to `elm make`.

I'm still working on a couple of bugfixes before the next release, but it should be included in `beta10`!

[2018-10-12 06:01] halohalospecial commented on #131
Hi @ymtszw, @rtfeldman,

You can check out Elmjutsu v9.0.0.  Thanks!

[2018-10-12 19:59] ymtszw commented on #131
Thanks for the update! Some issues:

(Windows 10, nodejs 8.12.0, Yarn 1.10.1, elm-test path at `%USER%\AppData\Local\Yarn\bin\elm-test`)

- Better tell in doc that it requires `elm-test@0.19-beta10` or later (until it's published, it requires `node-test-runner@master`, though)
- It seems it's not working without `Always Compile Main`? While the option disabled, it shows this:
![image](https://user

[2018-10-13 00:02] halohalospecial commented on #131
- Thanks for reminding me to add that to the docs!  I was able to install `elm-test@0.19-beta10` via `npm -g install elm-test@beta`.

- I could not replicate this.  Can you give me a sample project?  I used [elm-spa-example](https://github.com/rtfeldman/elm-spa-example) to test.

- I'll check this out.

- Yep, no need for that workaround.

Thanks a lot, @ymtszw !

[2018-10-13 00:45] ymtszw commented on #131
I can see the same error on [RoutingTests.elm in `elm-spa-example`](https://github.com/rtfeldman/elm-spa-example/blob/master/tests/RoutingTests.elm).
![image](https://user-images.githubusercontent.com/4507126/46899150-cd6d2d00-ceca-11e8-9180-a246457bd706.png)

This happens **only for test files** when `Always Compile Main` option **turned off**.
Application/package source files can be compiled reg

[2018-10-13 01:17] ymtszw commented on #131
Using the same `elm-test` binary from Powershell, I might have found the cause.

Here, I'm purposefully inserting a typo in `RoutingTests.elm` for visibility, and partially mimicking arguments passed to `elm-test` in `elm-make-runner.js` of elmjutsu.

[code]

So basically, some patterns of Windows-style paths are not handled well in `node-test-runner`?
I'm not sure this can be resolved from the ca

[2018-10-13 01:38] halohalospecial commented on #131
Interesting!  Do you get the same `"path"` when using `elm make`?

[2018-10-13 01:46] ymtszw commented on #131
Weird, no, `"path"` returned from `elm make` is not consistent with the one from `elm-test make`:

(Compile errors about UNKNOWN IMPORT are not a problem here since it's passing test files to `elm make`, obviously it should fail. At least it just works against any WIndows-style paths, absolute or relative)

[code]

[2018-10-13 17:21] anagrius opened #134 "Allow auto-importing deep module names."
We have a large project. In order to keep things organised we use nested module names like:

[code]

 It would be great if Elmjutsu would support suggestions for importing them like it does top level modules.

In other words, today, elmjutsu suggests I import `TimeSelector` if I try to write:

[code]

and have not imported `Humio.Ui.Timeselector` yet. This is not what we want and leaves the auto-i

[2018-10-16 09:06] anagrius opened #135 "Upgraded from 8.6.4 -> 9.0.1 Elmjutsu hangs Atom completely"
I have two colleagues that complained that they could not get elm working in Atom.
Both machines hung after a few seconds when Elmjutsu was installed and opening Atom.

I tried to upgrade from 8.6.4 -> 9.0.1 and the same happened to me.
I will try to get some profiling out, but it is hard since it hangs that too.

Out project is ~80klogs of Elm so it might be a problem on larger projects only.
The

[2018-10-16 10:18] halohalospecial commented on #135
Hi @anagrius, have you tried it with smaller Elm 0.18/0.19 projects?

[2018-10-16 10:50] anagrius commented on #135
@halohalospecial It does not happen on smaller projects. Just checked. We don't get any:

[code]

I am trying to figure out how to see in the exceptions exactly which file/files it is trying to watch and fails

[2018-10-16 10:58] anagrius commented on #135
@halohalospecial What exactly are you watching file changes for? I see it looks like e.g. all files in node_modules are also observed.

[2018-10-16 11:36] halohalospecial commented on #135
@anagrius, you can check it here:

https://github.com/halohalospecial/atom-elmjutsu/blob/d646d2943acd7828dae6680b7231beee99707107/lib/core.js#L387

[2018-10-16 11:39] halohalospecial commented on #135
Can you also check with just Elmjutsu installed?  Maybe another Atom package is also watching files?

[2018-10-16 11:40] anagrius commented on #135
Sure, I will. But the hanging only occurs with Elmjutsu installed

[2018-10-16 11:43] halohalospecial commented on #135
How about adding `node_modules/**` to `ignored`?

https://github.com/halohalospecial/atom-elmjutsu/blob/d646d2943acd7828dae6680b7231beee99707107/lib/core.js#L400

[2018-10-16 11:45] anagrius commented on #135
Well, if you don't need to know about Elm files in there, then I would say go for it. I mean there is no need having chokidar run through all those files for nothing.

[2018-10-16 11:46] anagrius commented on #135
I just wiped node_modules and everything is working until I do npm install, they it hangs again. So that seems to be it.

[2018-10-16 11:49] halohalospecial commented on #135
Can you can modify your `~/.atom/packages/elmjutsu/lib/core.js` to test? :grin:

[2018-10-16 15:50] halohalospecial commented on #135
Have you tried adding `node_modules` or `node_modules/**/*` to `ignored`?  Apparently, it's still traversing the node_modules directory with `node_modules/**`.

[2018-10-16 16:20] anagrius commented on #135
node_modules/**/* seems to do the trick!

[2018-10-16 16:20] #135 closed

[2018-10-17 20:03] anagrius opened #138 "Docs and jump to definition does not work for dependencies or stdlib"
I don't know when this broke, but recently I can no longer get docs or do "Go to Definition" for any external dependencies or standard lib functions like:
[code]

Go to definition, function signature hints etc, works perfectly for our own code.

Any clues?

[2018-10-18 02:08] halohalospecial commented on #138
Oh, you're right!  It does not work for Elm 0.18 anymore.  I'll look into it.

[2018-10-18 05:06] halohalospecial commented on #138
Should be fixed in v9.0.3.  Thanks for reporting!

[2018-10-18 06:07] anagrius commented on #138
Yup fixed

[2018-10-18 06:08] anagrius commented on #138
Thank you for all your great work. You make working with Elm every day 500% better. 🥂

[2018-10-18 10:30] timjs commented on #43
Any progress on this? :wink:

[2018-10-21 14:01] ymtszw opened #139 ""source-directories" are no longer part of `elm.json` for "type: package""
When "Always compile main" option enabled, elmjutsu checks if paths specified in `elmjutsu-config.json` are actually in "source-directories".

This is OK for "type: application" project, however in "type: package" project, it looks like ["source-directories" are no longer part of `elm.json`](https://github.com/elm/compiler/blob/master/docs/elm.json/package.md).

We CAN manually introduce "source-d

[2018-10-31 10:23] anagrius opened #140 "Jump to update for message"
For a given message type in a module, one thing I do many times a day is to go to the place in the `update` function where that message is handled.

It would be fantastic if Elmjutsu could have a a "Jump to use in Update".

What i do now is usually just search for something like:

"MyMsg ->" and hope that matches.

You could just by convention say that the function must be called `update`.

[2018-11-04 00:54] mrattner opened #141 "How do I correctly specify a relative Elm Path?"
In elmjutsu config, my value for Elm Path is `node_modules/.bin/elm`. When I run the linter in an Elm file, I get "Error parsing output. Please check the value of `Elm Path` and/or `Elm Test Path` in the Settings view."

Looking at the Atom debugger, I see that the Elm executable's full path is expanded correctly to `/home/marcy/elm-project/node_modules/.bin/elm`, but the spawned process exits wit

[2018-11-05 00:37] halohalospecial commented on #141
Hi!  Can you check the value of `executablePath` and `projectDirectory` at line 111?

https://github.com/halohalospecial/atom-elmjutsu/blob/4d5e2055ccf164f51b3df17d6f7f90c00642d510/lib/elm-make-runner.js#L108-L118

Thanks!

[2018-11-05 00:39] halohalospecial commented on #131
Hi @ymtszw, were you able to resolve this? :)

[2018-11-05 09:37] ymtszw commented on #131
Haven't checked for a while.
I recently coding without Always Compile Main (my current project is getting bigger and full compile getting slower for on-save) so I'll look into it.

[2018-11-07 13:01] #132 closed

[2018-11-07 16:10] #104 closed

[2018-11-07 16:12] halohalospecial commented on #128
This should be fixed in v9.0.4.

[2018-11-07 16:12] #128 closed

[2018-11-10 08:13] lucamug opened #142 "The inferred type annotation is treating strings (and comments?) as if they are code"
<img width="975" alt="screen shot 2018-11-10 at 17 05 23" src="https://user-images.githubusercontent.com/5551094/48299131-f6a1cd00-e50b-11e8-9a84-3f663076744c.png">

[2018-11-13 14:33] gampleman commented on #141
I'm getting the same error. In my case:

`executablePath` is `/Users/gampleman/Programming/fmap/project/client/node_modules/.bin/elm` which seems correct.

`args` is `["make", "--report=json", "--output=/dev/null", "/Users/gampleman/Programming/fmap/project/client/src/Main.elm"]`

`projectDirectory` is `/Users/gampleman/Programming/fmap/project/client`

[2018-11-13 23:57] halohalospecial commented on #141
@gampleman, @mrattner, can you try uncommenting `// env: process.env, `?  Thanks!

[2018-11-14 11:03] gampleman commented on #141
Sure.

After the promise resolves,
`data.stderr` is "env: node: No such file or directory"

[2018-11-16 06:07] mrattner commented on #141
I haven't had the time to dig into this error, so thanks @gampleman for providing more info. That "node: No such file or directory" error you're seeing reminds me of a problem I've run into a couple of times, because of how the Node binary is named in some package managers (`nodejs` vs `node`--see [this stackoverflow post](https://stackoverflow.com/a/14914716) for more info). Even though I install

[2018-11-17 16:54] inspiredlabs opened #144 "Uncaught Error: no parsers registered for: "]rack""
Installed elmjutsu as normal & reopened atom using: `atom project-file.elm`

**Atom**: 1.32.2 x64
**Electron**: 2.0.9
**OS**: Mac OS X 10.13.4
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 9.4.1

### Stack Trace

Uncaught Error: no parsers registered for: "]rack"

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-11-18 04:08] halohalospecial commented on #144
@inspiredlabs, this might be related to https://github.com/paulmillr/chokidar/issues/699 ?

[2018-11-19 00:32] halohalospecial commented on #131
@ymtszw, do you want to submit a PR for your workaround?

[2018-11-19 06:29] halohalospecial commented on #131
Thanks a lot, @ymtszw ! :tada:

[2018-11-19 08:00] halohalospecial commented on #131
Closing for now...  Thanks, @ymtszw!

[2018-11-19 08:00] #131 closed

[2018-11-19 09:00] anagrius commented on #134
I don't see any change unfortunately.

We have two modules called `Confirm`, in two different parts of the codebase. I tried to say:

[code]
and wanted suggestions:

[code]

but instead got:

<img width="515" alt="screenshot 2018-11-19 at 09 57 03" src="https://user-images.githubusercontent.com/157210/48696319-e495ed80-ebe1-11e8-82e9-9c751b4f428c.png">

So just like previous versions.

[2018-11-19 09:02] anagrius commented on #134
Ah! I found it.

<img width="705" alt="screenshot 2018-11-19 at 10 01 51" src="https://user-images.githubusercontent.com/157210/48696429-30489700-ebe2-11e8-922f-c506136129a6.png">

[2018-11-19 09:02] anagrius commented on #134
Yet it would be very nifty if it would suggest it in the error bubble, since that is usually where I notice it missing.

[2018-11-19 09:11] anagrius commented on #134
Maybe have a single entry for "Import As" and the show the dialog above.

Or maybe I am not seeing it because we are still stuck with linter-elm-make?

[2018-11-19 10:03] halohalospecial commented on #134
Ah, you want it to appear in the quick fix list?  Ok, I'll add that :)

[2018-11-19 10:16] halohalospecial commented on #134
@anagrius, can you try v9.6.0?  Thanks!

[2018-11-19 10:17] halohalospecial commented on #134
Oh, sorry.  It will work with Elm 0.19 projects.

[2018-11-19 10:42] anagrius commented on #134
We will get there eventually :( But this is still very useful for us as-is. Thanks!

[2018-11-19 10:42] #134 closed

[2018-11-19 10:56] halohalospecial commented on #134
@anagrius, can you try the following versions:

elmjutsu v9.7.0
linter-elm-make v0.29.0

[2018-11-19 11:20] anagrius commented on #134
You sir, are a god! Works like a charm

[2018-11-20 04:08] halohalospecial commented on #141
@gampleman, @mrattner, I created a branch (`sb-exec-local`) that uses the `local` option of `sb-exec` when the `Elm Path` is `node_modules/.bin/elm`.  Not sure if it will make any difference since I didn't encounter compile issues without it :)

https://github.com/halohalospecial/atom-elmjutsu/blob/8069f0a075cc64dbc8e6fad6d1d09d89bbb79b0f/lib/elm-make-runner.js#L130-L145

[2018-11-20 10:45] #139 closed

[2018-11-20 11:11] halohalospecial commented on #139
Thanks!

[2018-11-25 05:05] aaahrens opened #146 "Uncaught Error: Trying to send an unexpected type of value through port `addImportSub`:Expecting..."
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.32.2 x64
**Electron**: 2.0.9
**OS**: Mac OS X 10.14.1
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 9.9.0

### Stack Trace

Uncaught Error: Trying to send an unexpected type of value through port `addImportSub`:
Expecting a longer array. Need index 4 but there are only 4 entries but instead got: ["/User

[2018-11-25 05:06] aaahrens commented on #146
Just been getting this a lot with the latest package, feel free to close

[2018-11-26 00:06] #146 closed

[2018-11-26 00:07] halohalospecial commented on #146
Thanks a lot for reporting!

[2018-11-26 10:00] aaahrens opened #147 "Uncaught TypeError: Cannot read property 'split' of undefined"
[Enter steps to reproduce:]

1. have un-typed alias at the top of a module

**Atom**: 1.32.2 x64
**Electron**: 2.0.9
**OS**: Mac OS X 10.14.1
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 9.9.1

### Stack Trace

Uncaught TypeError: Cannot read property 'split' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-11-26 10:01] aaahrens commented on #147
I've been getting this when there is an untyped alias or function at the top of a file. Feel free to close.

[2018-11-26 10:21] halohalospecial commented on #147
Hi, can you give me sample code?  Thanks!

[2018-11-27 01:20] aaahrens commented on #147
module Main exposing (Model, Msg(..), aThing, init, main, update, view)

import Browser
import Html exposing (Html, div, h1, img, text)
import Html.Attributes exposing (src)

aThing =
    { aField = "" }

---- MODEL ----

type alias Model =
    {}

init : ( Model, Cmd Msg )
init =
    ( {}, Cmd.none )

---- UPDATE ----

type Msg
    = NoOp

update : Msg -> Model -> ( Model, Cmd Msg )
update msg mo

[2018-11-27 01:20] aaahrens commented on #147
ripped straight from create-elm-app

[2018-11-27 01:55] aaahrens commented on #147
if it helps at all, sometimes when it gets thrown it emits the DummyElm modules into the project

[2018-11-28 04:14] halohalospecial commented on #147
Hi @aaahrens, I couldn't not reproduce the issue :(

Can you log the value of `outString` here:
https://github.com/halohalospecial/atom-elmjutsu/blob/master/lib/elm-make-runner.js#L428

Thanks!

[2018-11-29 00:33] johnmullany commented on #147
Atom: 1.33.0
Mac: Mojave Version 10.14.1 (18875)
Just doing a simple main = text "Hello world!" gives the following stack trace on save
Uncaught TypeError: Cannot read property 'split' of undefined
/Users/johnmullany/.atom/packages/elmjutsu/lib/elm-make-runner.js:439
TypeError: Cannot read property 'split' of undefined
    at /Users/johnmullany/.atom/packages/elmjutsu/lib/elm-make-runner.js:439:31

[2018-11-29 00:45] halohalospecial commented on #147
Hi @johnmullany,

Can you log the value of `outString` and `errString` here?

https://github.com/halohalospecial/atom-elmjutsu/blob/master/lib/elm-make-runner.js#L428

Thanks!

[2018-11-29 00:46] halohalospecial commented on #141
Did it work @mrattner ? :slightly_smiling_face:

[2018-11-29 00:46] halohalospecial commented on #147
Also, are you using Elm 0.18 or 0.19?

[2018-11-29 00:50] johnmullany commented on #147
0.19  and sure.

[2018-11-29 01:18] johnmullany commented on #147
Not sure how to get the outString and errString...sorry.

[2018-11-29 01:46] halohalospecial commented on #147
@johnmullany

1. Open `/Users/johnmullany/.atom/packages/elmjutsu/lib/elm-make-runner.js`.
2. Insert the following in line 428:
[code]
3. Restart Atom.

[2018-11-29 02:17] johnmullany commented on #147
I'm not getting any console errors but I do get the same error but now on line 441.

[2018-11-29 02:30] johnmullany commented on #147
Step by step, I put main = "Hello world!". The module Main exposing (main) is then added for me. It show the red underline on main which I can hover over and get the error description. I also get the same error in the diagnostics panel. When I add just text in front of the string I get a new error description. Once I add the import Html exposing (..) I get the error. Sorry I can't be of more help.

[2018-11-29 03:39] aaahrens commented on #147
where do we catch stdout of the console log?

[2018-11-29 03:41] halohalospecial commented on #147
@aaahrens, it's in `/Users/drunkengranite/.atom/packages/elmjutsu/lib/elm-make-runner.js` in your case.

[2018-11-29 15:43] johnmullany commented on #147
Elm is great. I love it. I don't want to hijack this thread but I am anxious to hear what @aaahrens gets back from the addition of the console logs.

[2018-11-29 21:21] mrattner commented on #141
Yes, it worked! thanks! :tada:

[2018-11-30 00:23] johnmullany commented on #147
So I didn't get anything from the errString or the outString as far as the log goes so I put another console log for result on line 441 of elm-make-runner.js and get undefined for result. Split then tries to read undefined.
`
/Users/johnmullany/.atom/packages/elmjutsu/lib/elm-make-runner.js:407 result line 441 undefined
/Users/johnmullany/.atom/packages/elmjutsu/lib/elm-make-runner.js:408 Uncaught

[2018-11-30 00:25] johnmullany commented on #147
By the way, Elmjutsu is awesome. I used it before I went to Visual Studio Code and returned to Atom only because of Elmjutsu.

[2018-11-30 01:41] johnmullany commented on #147
Perfect!! v9.9.2 is working. Thanks!!!

[2018-11-30 23:11] johnmullany opened #148 "Error still shows when code is correct with ElmjutsuDumMyM0Dul3.elm"
I am on 9.9.2 now. I made a very basic Hello World elm file. It seems that after I add an import (Html in this case) the error I had about I am seeing String...I only know how to handle Html persists even after the import was added. It also adds a file called ElmjutsuDumMyM0DuL3.elm to the project folder. I receive no other error in the console. The file ElmjustsuDumMyM0DuL3.elm then continually a

[2018-12-01 02:01] johnmullany commented on #148
works fine on an older version of Atom. ugggh

[2018-12-01 18:09] #148 closed

[2018-12-02 14:52] #141 closed

[2018-12-02 14:53] halohalospecial commented on #141
The changes are in v9.9.3.  Thanks!

[2018-12-03 22:00] z5h opened #150 "Multiline strings prevent temp files from being cleaned up"
Multiline Strings can prevent the Dummy/Temp files form getting cleaned up.

e.g.

[code]

[2018-12-04 07:32] #150 closed

[2018-12-04 07:32] halohalospecial commented on #150
Thanks!

[2018-12-24 13:43] kafey opened #151 "Uncaught Error: spawn EACCES"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.33.1 x64
**Electron**: 2.0.16
**OS**: Mac OS X 10.14.2
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 9.10.1

### Stack Trace

Uncaught Error: spawn EACCES

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-12-31 03:52] halohalospecial commented on #151
@kafey, can you check if your `Elm Path` (in the Settings view) is correct and executable?  Thanks!

[2019-01-14 18:01] jwoLondon opened #153 "linter no longer register compiler errors since atom/linter 2.3.0"
After upgrading atom's linter from 2.2.0 -> 2.3.0, elmjutsu no longer reports linter errors. I note that in the release notes for linter 2.3.0 it says ""Remove support for legacy linter APIs"", so I wonder if something in elmjutsu or upstream (e.g. language-elm) is relying on the deprecated, now removed, API?

Downgrading linter to 2.2.0 in atom provides a temporary fix, but this won't be obvious

[2019-01-16 16:01] n1k0 commented on #153
Experiencing the same issue, +1.

[2019-01-22 12:51] MartinSStewart opened #154 "Documentation for modules shown multiple times in tooltips"
If I hover my cursor over package modules such as List, Cmd, or Json.Decode then the documentation for that module appears multiple times in the same tooltip.  Restarting Atom appears to fix the issue and I'm not sure how to reproduce the bug.

Example with List:
![image](https://user-images.githubusercontent.com/5068391/51536345-87215580-1e4b-11e9-91c2-a070b4c3c365.png)

Example with Json.Decode

[2019-01-23 19:50] MartinSStewart opened #156 "Elmjutsu doesn't check for errors in tests"
Compiler errors in test files aren't not shown.  The expected behavior is for Elmjutsu to underline the error in red and list it in a separate tab like it does with Elm files outside of tests.

[2019-01-25 11:12] ScribblerWriter commented on #153
Yep, just ran into this. Downgraded to make it work. And as a new user, definitely not obvious, so I appreciate the fix listed in the issue here. Thanks. :)

[2019-01-26 23:55] halohalospecial commented on #156
Hi, do you have elm-test installed?  Elmjutsu uses elm-test to check for compiler errors in test files.

[2019-01-27 00:18] halohalospecial commented on #153
Hi all, sorry for the late response.  The dilemma is that Elmjutsu is using the `html` property to color the different parts of the messages (https://github.com/steelbrain/linter/blob/v1/docs/types/linter-message-v1.md) and to provide added features (e.g. clicking on a symbol in the message will jump to the declaration).  With Linter v2, only a `markdown` property is available, which is limited in

[2019-01-28 09:14] ScribblerWriter commented on #153
Thanks. I’ve switched to atom-ide-ui. Seems to work. Unless you’re planning on updating for support for the newer linter versions, perhaps removing the support would be better. Unless you happen to know to downgrade, it’ll just make it look like it’s not working.

[2019-01-28 09:46] ScribblerWriter commented on #153
Didn’t know atom-ide-ui was discontinued. Then finding a way to work with something that’s being updated makes more sense, I should think.

[2019-01-28 10:41] ymtszw commented on #156
Try setting "Elm Test Path" in elmjutsu setting. By default it requires `elm-test` to be installed globally.
I believe relative path from project root should work (might be wrong though).

[2019-01-28 18:10] Arcanemagus commented on #153
In the [v2.3.0 release](https://github.com/steelbrain/linter/releases/tag/v2.3.0) of `linter` support for the v1 API was removed, breaking semver. This means that this provider is no longer supported by the current version of `linter`.

To get this provider working again it will need to be upgrade to the v2 API, a guide for accomplishing that can be found here: [Upgrading to Standard Linter v2](ht

[2019-01-28 19:06] jwoLondon commented on #153
Can I also add that while the `atom-ide-ui` workaround sort of works, it leads to conflicts if `linter` is also running. I use other plug-ins that need `linter` so this isn't really a very stable workaround, at least for me.

[2019-01-28 19:15] Arcanemagus commented on #153
`atom-ide-ui` _does_ work, but is no longer maintained (as mentioned earlier in this thread).

[2019-01-28 19:43] MartinSStewart commented on #156
I tried adding a path to elm-tests but still no luck.  One thing I've noticed is that, after saving the busy spinner show the following indefinitely
![image](https://user-images.githubusercontent.com/5068391/51861742-4179f680-233d-11e9-97d3-00e85ad801eb.png)

[2019-01-29 04:19] ymtszw commented on #156
Describe your environment thoroughly please, especially elmjutsu version, linter version, other possibly related packages.
The easy way is call "Linter: Debug" from command palette (cmd + shift + P in mac) and copy the resultant.

Also try:
- Completely exit Atom and start up clean (wait a while for all package startups done before triggering Lint)
- Make sure `elm-test` succeeds in your project o

[2019-01-29 19:01] MartinSStewart commented on #156
Normally I use `atom-ide-ui`.  For this I've disabled that and installed `linter` (v2.2.0 since the #153 bug is open).

Running `Linter: debug` shows:
[code]

Completely exiting Atom and starting fresh doesn't seem to help.  I've run `elm-test` from the command line and that correctly compiles and runs tests.  I've also tries changing the relative path to `elm-test` into an absolute path and that

[2019-01-30 06:07] ymtszw commented on #156
Hmm, no easy fix from me. Cannot tell if it is elmjutsu problem or specific to your environment.

My usual debug process around elmjutsu and other Atom packages:
- Turn on "Log Debug Messages" in the bottom of elmjutsu setting, check console log by opening dev console
- Print debug! Insert `console.log` here and there in suspicious packages' JS files and reload Atom, check dev console

[2019-01-31 23:18] halohalospecial commented on #156
Hi @MartinSStewart, `elmTestExecPath` should point to the `elm-test.exe` binary.

[2019-02-19 07:07] ymtszw commented on #153
I looked into API upgrade, and it seemingly works, so here's PR: https://github.com/halohalospecial/atom-elmjutsu/pull/158
I tested with Linter 2.3.0, linter-ui-default 1.7.1.

As @halohalospecial mentioned, `html` is now replaced by `description` with markdown support. It actually handles HTML too, since HTML subset is valid in markdown, so current markups in elmjutsu appear to be useable in new

[2019-02-21 07:59] lzrski opened #159 "Creation and deletion of src/ElmjutsuDumMyM0DuL3.elm triggers other tooling"
As reported here in case of Elm Live: https://github.com/wking-io/elm-live/issues/145#issuecomment-465890274

Perhaps it should be left for other tools to work around, but it seems a little bit off to put temporary code in `src/` directory. Would it be possible to put it somewhere in `elm-stuff`? This should prevent tools like Elm Live from being unnecessarily triggered.

[2019-02-28 17:02] linj121 opened #160 "Uncaught Error: watch ~/AppData\Local\Microsoft\Windows\INetCache\Low\Content.IE5 EPERM"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.34.0 x64
**Electron**: 2.0.16
**OS**: Microsoft Windows 10 Home
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 9.10.1

### Stack Trace

Uncaught Error: watch C:\Users\USER\AppData\Local\Microsoft\Windows\INetCache\Low\Content.IE5 EPERM

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2019-03-04 10:18] manuscrypt opened #161 "Uncaught Error: spawn UNKNOWN"
[Enter steps to reproduce:]

1. Choose Install Package
2. Select rtfeldman-elm-iso8601-datestrings

**Atom**: 1.34.0 x64
**Electron**: 2.0.16
**OS**: N869
**Thrown From**: [elmjutsu](https://github.com/halohalospecial/atom-elmjutsu) package 9.10.1

### Stack Trace

Uncaught Error: spawn UNKNOWN

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2019-03-08 01:51] #153 closed

[2019-03-08 03:06] halohalospecial commented on #153
Hi all, sorry for the delay!  Can you check out v9.11.0?  Elmjutsu will now automatically detect the Linter API version (v1 or v2) based on the version of the `linter` package.  It will select v1 if using `atom-ide-ui`.

Thanks for the PR @ymtszw! :tada:

[2019-03-08 08:36] jwoLondon commented on #153
Since v9.11.0, I am no longer getting specific error messages. Instead I just get generic `NAMING ERROR`, `MISSING PATTERNS` etc.

I also continue to get a conflict message when I start Atom

As noted above, I need to have Linter installed for some other plug-ins.

[2019-03-08 09:14] ymtszw commented on #153
See the new README:

This is a deliberate change in `linter-ui-default`, preventing large tooltips from blocking our sight into editor buffers. I believe `atom-ide-ui` behaves this way too.

As for the reported conflict between `linter` and `atom-ide-ui` active at the same time (the popup itself is generated by `atom-ide-ui` I beleve), `atom-ide-ui` consumes any providers that properly implements

[2019-03-13 20:48] ymtszw commented on #156
In my Windows 10 env,
- Node.js(8.12.0) and Yarn(1.10.1) installed, both versions built for windows, downloaded from official websites
- Elm and `elm-test` installed via `yarn` (from PowerShell or cmd.exe)
- In Elmjutsu setting:
    - Elm Path: `C:\Users\<Username>\AppData\Local\Yarn\bin\elm`
    - Elm Test Path: `C:\Users\<Username>\AppData\Local\Yarn\bin\elm-test`

And everything working well. I

[2019-03-15 14:01] AionDev opened #162 "openBinaryFile: permission denied when calling eval command on a function"
i have this function definition that i want to evaluate in atom text editor.
[code]
I go with the cursor on the line, and when i call the `emjutsu eval command` from the command pallete, nothing happens.
I tried few times in a row.
After a while i got this result:
[code]
But this only happened once, rest of the time nothing happens.
Any insight into what is causing this? I had this feature working

[2019-03-15 15:14] SidneyNemzer commented on #162
When trying to run the command, do you seeing any errors in the Atom dev console? (Open with command Window: Toggle Developer Tools)

[2019-03-25 00:58] alkersho opened #163 "Uncaught TypeError: Cannot read property 'start' of undefined"
[Enter steps to reproduce:]

1. Changed record variables, warned about type mismatch in init function.
2. Changed the type to satisfy type change.
3. Saved the file and it threw this error.

linter still shows error but elm reactor is working fine.
reinstalling didn't solve the issue.

**Atom**: 1.35.1 x64
**Electron**: 2.0.18
**OS**: Ubuntu 18.04.2
**Thrown From**: [elmjutsu](https://github.com/h

[2019-03-25 02:50] SidneyNemzer commented on #163
Temporary fix: It's related to inferring type annotations, disable that setting and you'll stop getting the error.

[2019-04-01 21:20] Erudition opened #164 "Hot reloading: Internal Server Error"
Using the JS insert:
[code]

Always fails to load, and when I try to visit that URL on its own I get a 500 error:
[code]
I don't really understand why.

[2019-04-10 15:24] razzeee opened #165 "Check if atom-elmjutsu can use a tree sitter for code highlighting"
See https://github.com/Razzeee/tree-sitter-elm for my implementation, I believe, that we would still need a css file for the colors like here for python https://github.com/tree-sitter/tree-sitter-python/blob/master/properties/highlights.css

It should hopefully improve code highlighting with broken syntax

[2019-04-14 00:13] Erudition commented on #98
Two things:

1. I noticed that while you can enable/disable all sorts of autocomplete options in the settings, Decoders/Encoders are not among them.

2. It seems to assume that the `Json.Decode` module (or replacement) is imported as `Decoder`. It's more normal (afaik) to import it as `Decode`, and that's what I do. So I have to manually change (or F&R) every part of the generated code mentioning

[2019-04-15 03:33] ta3pks opened #166 "failed to load elmjitsu unsafe eval"
[code]
When i try to install elmjitsu i keep getting this error
[code]

[2019-05-02 12:47] tofusoul commented on #166
I have the same issue

full error message:

[code]

[2019-05-09 21:06] stepheneb opened #167 "copy-formatted-for-elm-repl: copy selected code into clipboard formatted for pasting into repl"
I'd like to be able to copy selected multiline Elm code into the clipboard and be able to paste it into the elm repl formatted to be able to be successfully evaluated.

I'm curious whether this is possible ... and how hard it would be -- or maybe it already exists??

For example this code copied and pasted into the elm repl generates an error:

[code]

Adding ` \` at the end of each line except fo

[2019-05-10 00:02] SidneyNemzer commented on #167
It seems like copying with newlines escaped could be useful for a text editor in general. Maybe it could be made into its own package? (I didn't see an existing package like this during a quick search).

[2019-05-21 08:24] halohalospecial commented on #167
@stepheneb, the feature shouldn't be hard to implement, but it would be a special copy command (e.g. `Elmjutsu: Copy For Repl`).  Are you okay with that?

[2019-05-21 10:23] halohalospecial commented on #166
@NikosEfthias @tofusoul can you try unchecking `Enable Hot Reloading` in the Settings view?

[2019-05-21 10:25] halohalospecial commented on #164
@Erudition, is this similar to #166?

[2019-05-21 10:27] halohalospecial commented on #165
Looks cool!  How do we use that?

[2019-05-21 11:04] razzeee commented on #165
I have no idea, will hopefully be back with some more info later.

(btw in the longrun it might make sense to also rely on the language server I'm writing)

[2019-05-22 01:17] stepheneb commented on #167
That would be fine!

Also if you want to outline where changes should be made I'm also happy to
try and implement the feature and generate a pull request.

On Tue, May 21, 2019 at 4:24 AM halohalospecial <notifications@github.com>
wrote:

--
Be curious and kind whenever possible, https://learnmaketeachshare.org/

[2019-05-22 12:09] halohalospecial commented on #167
@stepheneb, you can add the command in `lib/main.js`

Somewhere here:
[code]

[2019-05-22 18:38] razzeee commented on #165
https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/#the-package

[2019-05-23 02:26] halohalospecial commented on #165
You may need to publish it first: https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/#the-parser

[2019-05-23 08:49] razzeee commented on #165
It should be published?
https://www.npmjs.com/package/tree-sitter-elm

Btw the link above https://github.com/tree-sitter/tree-sitter-python/blob/master/properties/highlights.css is not relevant at all

[2019-05-29 19:32] Arcanemagus commented on #165
That link is relevant for creating a language package for Atom, but not relevant for the Tree-sitter grammar itself 😉.

[2019-05-30 07:42] razzeee commented on #165
According to the author it's not (yet) relevant https://twitter.com/maxbrunsfeld/status/1131339401189965825

[2019-06-06 11:12] tofusoul commented on #166
Thanks @halohalospecial.  Hot reloading was unchecked. recent atom update in the arch repo seem to have fixed the error for me. Keep up the great work.

[2019-06-10 16:50] Erudition commented on #164
@halohalospecial I don't see how it could be. That bug was related to elmjutsu failing to even start, along with an error message.

My elmjutsu starts fine, and I use it normally. I don't get error messages, either, as far as I know.

[2019-07-03 06:36] lucarakuten opened #168 "Add the "elm-format path" in the settings of the plugin"
It would be nice to specify the elm-format path the same as the elm path, so that we can install elm-format inside the project.

Now elmjutsu require elm-format being installed globally.

[2019-07-03 06:39] lucarakuten opened #169 "Save ElmjutsuDum* files in a customizable folder"
Now ElmjutsuDum* are saved in the same folder of the elm file, this is causing the watcher to fire and compile the file three times (one when an elm file is modified, one when the ElmjutsuDum* file is created and one when the ElmjutsuDum* file is deleted).

It would be nice to have these files being created in a path specified in the configuration.

[2019-07-03 11:12] halohalospecial commented on #168
Hi @lucarakuten, code formatting using elm-format is not part of Elmjutsu.  Might be better to request here instead: https://github.com/humio/atom-elm-format

[2019-07-03 11:17] halohalospecial commented on #169
Hi @lucarakuten, using temp files is a hack to extract inferred type annotations from `elm make`.  I wasn't able to make it work when temp files are not in the same directory as the source :(

[2019-07-04 00:54] lucamug commented on #169
Interesting. So I guess the solution is to add a filter to the watcher so that it ignores these files.

[2019-07-04 00:58] lucarakuten commented on #168
Ha ha, elmjutsu awesomeness make me believe that it is doing everything ;-)

[2019-07-26 15:34] absynce opened #170 "Support elmjutsu (Patreon, PayPal, GitHub Sponsors)"
Hi there!

First I want to thank you for making elmjutsu! I realize it is critical to my Elm development workflow. I have tried the extensions for VS Code and IntelliJ, but they lack a few key features that elmjutsu has.

The key features for me are all Special Completions. This significantly speeds up my development process and saves me from RSI flare-ups!

Here are some of my favorite ones:
1. A

[2019-07-29 12:18] halohalospecial commented on #170
Hi @absynce,

Thank you for the very kind words :heart:

I can relate with your RSI issues since I had mild carpal tunnel syndrome before.  That's also part of the reason why I added lots of autocompletions :D  Auto-generation of encoders/decoders seems to be a favorite.  A possible feature in the future is using voice to code haha.

As for supporting the project, submitting issues (bugs, suggesti

[2019-07-31 04:21] absynce commented on #170
Okay, then I will close this, keep an eye out for issues, and share suggestions. 😃

How are you imagining voice-to-code would work in this case? I tried doing that a bit with Dragon NaturallySpeaking, but it frustrated me.

[2019-07-31 04:21] #170 closed, assigned to nobody

[2019-07-31 05:25] halohalospecial commented on #170
Hi @absynce,

For voice-to-code, I was thinking static typing would help in narrowing down the possible actions each step of the way.  For example, when I say "String.repeat", it would know that the next would most probably be an integer and the ASR would then place higher priorities to int variables in scope or actual integers.  It's also possible to train the ASR with the symbol names from the i

[2019-08-08 19:29] Tails opened #171 "Feature request: run elm-make on opening file"
I might be missing a configuration combination, but currently I have to manually save an elm file (or press CTRL+S on an unchanged file) before the linter errors (atom-ide-ui) become available.

Is it possible to run the linter immediately when opening an Elm file, or when switching to an opened Elm file? If there is a Elmjutsu command available to run the compiler we could also script this oursel

[2019-08-10 03:10] absynce commented on #170
Hi @halohalospecial,

Those sound like useful ideas! A good way to find out how easy they are to implement is to try. 😄

With Dragon, it was designed more for writing text than code. This made it difficult to use in a code editor to input correct syntax or variables. Even using it for writing email was frustrating, because it seemed to lag, which would distract me, and lead me to make silly mistak

[2019-10-16 07:38] razzeee commented on #165
There now is https://atom.io/packages/language-elm-treesitter/

[2020-06-17 08:18] #100 closed

[2022-04-06 19:31] #102 closed

[2022-04-06 19:32] #105 closed

[2022-04-06 19:33] #140 closed